//========== Наши преимущества ============
.benefits
	.benefits-title.pb-24
		.title-upper Наши преимущества
	.benefits-content
		+benefit-card('Уверенность', '142 000 000 ₽', 'Ведущие специалисты Компании успешно трудятся в сфере юридической безопасности сделок с недвижимостью: от Астрахани до Санкт-Петербурга, от Калининграда до Иркутска, от Москвы до Московской области).')
	
		+benefit-card('Комфорт', '12 офисов', 'Удобно обсудить все детали со специалистом. Представительства в разных районах Москвы')
	
		+benefit-card('Риск', '30 схем', 'В среднем выявляем за год. Пресекаем попытки мошенничества. Исключаем ущерб для покупателя')
		
		+benefit-card('Репутация', '90 агентств', 'Столичные компании готовят свои сделки при нашем квалифицированном содействии')
	
		+benefit-card('Доверие', '920 специалистов', 'Профессионалы Московского региона стабильно поручают нам юридическую экспертизу недвижимости перед покупкой')
		+benefit-card('Уверенность', '1% квартир', 'Всех квартир Москвы, покупаемых на вторичном рынке, проверяются нашими сотрудникамивсех квартир Москвы, покупаемых на вторичном рынке, проверяются нашими сотрудниками. В среднем, Росреестр за месяц регистрирует около 10 000 сделок. За месяц профессиональную экспертизу проходят не менее 100 объектов')
