.doc-slider.swiper
	.swiper-wrapper
		.swiper-slide
			a(href="../img/doc.png" data-lightbox="doc").swiper-slide__item
				img(src="../img/doc.png", width="400" alt="alt")
		.swiper-slide
			a(href="../img/doc.png" data-lightbox="doc").swiper-slide__item
				img(src="../img/doc.png", width="400" alt="alt")
		.swiper-slide
			a(href="../img/doc.png" data-lightbox="doc").swiper-slide__item
				img(src="../img/doc.png", width="400" alt="alt")
		.swiper-slide
			a(href="../img/doc.png" data-lightbox="doc").swiper-slide__item
				img(src="../img/doc.png", width="400" alt="alt")
		.swiper-slide
			a(href="../img/doc.png" data-lightbox="doc").swiper-slide__item
				img(src="../img/doc.png", width="400" alt="alt")
	.doc-slider-pagination.swiper-pagination
	.slider-nav
		.doc-slider-prev.btn-prev
		.doc-slider-next.btn-next