//========== Первые лица компании============
.employee
	.employee-title.pb-24
		.title-upper Первые лица компании
	.employee-content
		+employee-card('team2', 'Александр Чернов', 'Юридический сектор')
	
		+employee-card('team2', 'Александр Чернов', 'Юридический сектор')
	
		+employee-card('team2', 'Александр Чернов', 'Юридический сектор')
	
		+employee-card('team2', 'Александр Чернов', 'Юридический сектор')
	
		+employee-card('team2', 'Александр Чернов', 'Юридический сектор')
	
		+employee-card('team2', 'Александр Чернов', 'Юридический сектор')