//========== Первые лица компании============
.employee
	.employee-title
		.text-14.text-upper.pb-24 Первые лица компании
	.employee-content
		+employee-card('team2', 'Александр Чернов', 'Юридический сектор')
	
		+employee-card('team2', 'Александр Чернов', 'Юридический сектор')
	
		+employee-card('team2', 'Александр Чернов', 'Юридический сектор')
	
		+employee-card('team2', 'Александр Чернов', 'Юридический сектор')
	
		+employee-card('team2', 'Александр Чернов', 'Юридический сектор')
	
		+employee-card('team2', 'Александр Чернов', 'Юридический сектор')