
.modal-frame.modal-frame--step2
	.modal-close.btn-close
		svg.svg-close
			use(xlink:href="../img/svg-sprite.svg#svgClose")
	.modal-frame-content
		.container-slim
			.title-2 Мы вас узнали
			.modal-frame__img
				img(src="../img/confirm.png", width="168" alt="img")
			.modal-frame__text
				.title-20 Подтверждение по SMS
				.text-16 Мы отправим SMS код для провери на Ваш телефон + 7 (***) ***-34-44

	.modal-frame__footer
		.container-slim
			+button-flex('button', '', 'button--reverse button--blue', 'Отправить SMS',  'chevron', 'Chevron')
	
	.login-social
		.text-14 Вход через месенджер
		+social-block(
			{link: "#", socClass:"icon-tg"},
			{link: "#", socClass:"icon-wa"},
			{link: "#", socClass:"icon-mess"},
			{link: "#", socClass:"icon-vk"}
			)