
.modal-frame.modal-frame--user(frame-modal="identify-user")
	+mobile-header-logo('Авторизация')
	.modal-close.btn-close(frame-close)
		svg.svg-close
			use(xlink:href="../img/svg-sprite.svg#svgClose")
	.modal-frame-content
		.container-slim
			.title-2 Мы вас узнали
			.modal-frame__img
				img(src="../img/avatar-modal.jpg", width="112" alt="ava")
			.modal-frame__text
				.text-16 Вы оформляете заказ как
				.title-24 Мария Иванова?
			
				.text-14 Номер телефона:
				.text-16 +7 *** *** - 34 - 44

	.modal-frame__footer
		.container-slim
			+button('button', '', 'Да, всё верно', 'button--blue')(frame-btn="send-sms")
			+button('button', '', 'Нет, вы ошиблись', 'button--white')(frame-btn="enter-user-phone")
	
	.login-social
		.text-14 Вход через месенджер
		+social-block(
			{link: "#", socClass:"icon-tg"},
			{link: "#", socClass:"icon-wa"},
			{link: "#", socClass:"icon-mess"},
			{link: "#", socClass:"icon-vk"}
			)