.modal-frame
	.modal-close.btn-close
		svg.svg-close
			use(xlink:href="../img/svg-sprite.svg#svgClose")
	.modal-frame-content
		.container-slim
			
			.modal-frame__text.text-left
				.title-24 Закажите экспертный анализ
				.text-14 Вы получите полный анализ ситуации с объектом и наши рекомендации по выходу на сделку
			.modal-frame__block
				.title-upper состав проверки
				+list-types('marker-lock', 'Проверка иностранной доверенности', 'Проверка иностранной доверенности',' Проверка иностранной доверенности','Проверка иностранной доверенности','Проверка иностранной доверенности','Проверка иностранной доверенности')

	.modal-frame__footer.modal-frame__footer--abs
		.container-slim
			.button-group-2
				+double-button('Оплатить', '19 999 &#8381;')
				.button-group__bottom
					a(href="#").text-12.text-grey Потребуется указать Фамилию Имя Отчество и дату рождения владельца