
.modal-frame.modal-frame--step3(frame-modal="user-confirm")
	.modal-close.btn-close(frame-close)
		svg.svg-close
			use(xlink:href="../img/svg-sprite.svg#svgClose")
	.modal-frame-content
		.container-slim
			.title-2 Авторизация
			.modal-frame__img
				img(src="../img/smsCode.png", width="88" alt="img")
			.modal-frame__text
				.title-20 Введите код
				.text-16 Мы отправили SMS код для провери на Ваш телефон + 7 (***) ***-34-44
			.modal-frame__form
				form
					.form-item--code
						input#confirmCode(type="text" name="confirm_code" maxlength="5" )
					.repeat-code
						a(href="#!").text-14 Отправить код повторно
	
	
	.login-social
		.text-14 Вход через месенджер
		+social-block(
			{link: "#", socClass:"icon-tg"},
			{link: "#", socClass:"icon-wa"},
			{link: "#", socClass:"icon-mess"},
			{link: "#", socClass:"icon-vk"}
			)