//========== Суды ============
.custom-tabs__content-row
	.boxshadow-block
		//======header block ======
		.boxshadow-block__header.flex-wrapper
			.boxshadow-block__header-left
				.title-upper.flex-title
					span.icon-balance
					span Суды
				.text-12 Количество судов: 2
			.boxshadow-block__header-right
				.icon-filter
		//======header block ======
		.boxshadow-block__body
			//====single======
			.report-card
				.report-card__header
					.title-16 Гражданское дело
					.text-14 02 0174/2019
					.text-14 13.02..2020
				.report-card__list
					ul
						li
							.title-14 #[span Судья/суд:] Мусуков М. А.
							.text-14 Московвский городской суд
						li
							.title-14 #[span Категория:] Целое образа просветляет
						li
							.title-14 #[span Истец:]  Данные скрыты
						li
							.title-14 #[span Ответчик: ] Мусуков М. А.
						li
							.title-14 #[span Прочие лица:] 
						li
							.title-14 #[span Дата решения: ] 21.02.2020
							.text-14 Вступило в силу
			//====single======
			.report-card
				.report-card__header
					.title-16 Гражданское дело
					.text-14 02 0174/2019
					.text-14 13.02..2020
				.report-card__list
					ul
						li
							.title-14 #[span Судья/суд:] Мусуков М. А.
							.text-14 Московвский городской суд
						li
							.title-14 #[span Категория:] Целое образа просветляет
						li
							.title-14 #[span Истец:]  Данные скрыты
						li
							.title-14 #[span Ответчик: ] Мусуков М. А.
						li
							.title-14 #[span Прочие лица:] 
						li
							.title-14 #[span Дата решения: ] 21.02.2020
							.text-14 Вступило в силу