//==========Коррупция ============
.custom-tabs__content-row
	.boxshadow-block
		//======header block ======
		.boxshadow-block__header.flex-wrapper
			.boxshadow-block__header-left
				.title-upper.flex-title
					span.icon-corrup
					span КОРРУПЦИЯ
				.text-12 Количество судов: 2
			.boxshadow-block__header-right
				.icon-filter
		//======header block ======
		.boxshadow-block__body
			//====single======
			.report-card
				.report-card__header
					.title-16 Иванов Иван Иванович
					.text-14 Старший оперативный дежурный ГУ МВД России по г. Москве
					.text-14 Опубликовано: 13 апреля 2020 г.
					
				.report-card__list
					ul
						li
							.text-14 #[span Нормативный акт:] целое образа просветляет деструктивный декаданс. Коллективное бессознательное вызывает бессознательный символизм.
						li
							.text-14 #[span Основание решения:]
							.text-14 #[span Дата акта: ] 30 апреля 2020 г.
						
			//====single======
			.report-card
				.report-card__header
					.title-16 Иванов Иван Иванович
					.text-14 Старший оперативный дежурный ГУ МВД России по г. Москве
					.text-14 Опубликовано: 13 апреля 2020 г.
					
				.report-card__list
					ul
						li
							.text-14 #[span Нормативный акт:] целое образа просветляет деструктивный декаданс. Коллективное бессознательное вызывает бессознательный символизм.
						li
							.text-14 #[span Основание решения:]
							.text-14 #[span Дата акта: ] 30 апреля 2020 г.