//========== Залоги ============
.custom-tabs__content-row
	.report-zalog
		.boxshadow-block
			//======header block ======
			.boxshadow-block__header.flex-wrapper
				.boxshadow-block__header-left
					.title-upper.flex-title
						span.icon-nalog
						span Залоги
					.text-12 Количество судов: 2
				.boxshadow-block__header-right
					.icon-filter
			//======header block ======
			.boxshadow-block__body
				//====single======
				.report-card
					.report-card__header
						.title-16 Движемое имущество
						.text-14 С 01.01.19 до 02.02.20
						
					.report-card__list
						ul
							li
								.text-14 #[span Залогодержатели]
								.text-14 “Мерседес-Бенз Банк Рус” Общество с ограниченной  ответственностью, ИНН
							li
								.text-14 #[span Залогодатели]
								.text-14 Валентина Вячеславовна Саракина 02,09,75 г.р Паспорт №
				//====single======
				.report-card
					.report-card__header
						.title-16 Движемое имущество
						.text-14 С 01.01.19 до 02.02.20
						
					.report-card__list
						ul
							li
								.text-14 #[span Залогодержатели]
								.text-14 “Мерседес-Бенз Банк Рус” Общество с ограниченной  ответственностью, ИНН
							li
								.text-14 #[span Залогодатели]
								.text-14 Валентина Вячеславовна Саракина 02,09,75 г.р Паспорт №