//========== НАЛОГИ ============
.custom-tabs__content-row
	.report-nalog
		.boxshadow-block
			//======header block ======
			.boxshadow-block__header.flex-wrapper
				.boxshadow-block__header-left
					.title-upper.flex-title
						span.icon-nalog
						span НАЛОГИ
					.text-12 Количество судов: 2
				.boxshadow-block__header-right
					.icon-filter
			//======header block ======
			.boxshadow-block__body
				//====single======
				.report-card
					.report-card__header
						.title-16 
							span Налог на имущество (2021)
							span ФНС РФ
						.text-14 УФК по Московской облости
						.text-14 #[span 500 &#8381;]
					
				//====single======
				.report-card
					.report-card__header
						.title-16
							span Налог на имущество (2021)
							span ФНС РФ
						.text-14 УФК по Московской облости
						.text-14 #[span 500 &#8381;]