//==========Лицом интересовались ============
.custom-tabs__content-row
	.boxshadow-block
		//======header block ======
		.boxshadow-block__header.flex-wrapper
			.boxshadow-block__header-left
				.title-upper.flex-title
					span.icon-corrup
					span Лицом интересовались
				.text-12 Количество судов: 2
			.boxshadow-block__header-right
				.icon-filter
		//======header block ======
		.boxshadow-block__body
			//====single======
			.report-card
				.report-card__header
					.title-16  Иванов Иван Иванович
				.report-card__list
					ul
						li
							.text-14 #[span Пользователь:] Test Test TestВремя: 14.03.21
							
						li
							.text-14 #[span Время:] 14.03.21
				
			//====single======
			.report-card
				.report-card__header
					.title-16  Иванов Иван Иванович
				.report-card__list
					ul
						li
							.text-14 #[span Пользователь:] Test Test TestВремя: 14.03.21
							
						li
							.text-14 #[span Время:] 14.03.21