//========== Терроризм ============
.custom-tabs__content-row
	.boxshadow-block
		//======header block ======
		.boxshadow-block__header.flex-wrapper
			.boxshadow-block__header-left
				.title-upper.flex-title
					span.icon-arbitrage
					span Терроризм
				.text-12 Количество судов: 2
			.boxshadow-block__header-right
				.icon-filter
		
		//=======даже если нет потомков, этот див с классом boxshadow-block__body -  должен быть, так как через css  для этого дива в пустом виде указана минимальная высота Что бы сработал псевдокласс empty  , обязательно не должно быть пробела между открывающим и закрывающим дивами ===============
		.boxshadow-block__body