//========== ФСПП ============
.custom-tabs__content-row
	.boxshadow-block
		//======header block ======
		.boxshadow-block__header.flex-wrapper
			.boxshadow-block__header-left
				.title-upper.flex-title
					span.icon-fspp
					span ФСПП
				.text-12 Количество судов: 2
			.boxshadow-block__header-right
				.icon-filter
		//======header block ======
		.boxshadow-block__body
			//====single======
			.report-card
				.report-card__header
					.title-16 № 158290/21/77056
					.text-14 Целое образа просветляет деструктивный декаданс: 28000 руб. От 13 апреля 2020 г.
					
				.report-card__list
					ul
						li
							.title-16 Исполнительный лист
							.text-14 Иванов Александр Иванович 8.08.1975 От 13 апреля 2020 г.
						li
							.text-14 Арбитражный суд московской облости 
							.text-14 Судья: Мусуков М. А.
						li
							.text-14 ОСП по Юго-Восточному АО 109044, Россия, г. Москва, ул. Ленина, д. 19
			//====single======
			.report-card
				.report-card__header
					.title-16 № 158290/21/77056
					.text-14 Целое образа просветляет деструктивный декаданс: 28000 руб. От 13 апреля 2020 г.
					
				.report-card__list
					ul
						li
							.title-16 Исполнительный лист
							.text-14 Иванов Александр Иванович 8.08.1975 От 13 апреля 2020 г.
						li
							.text-14 Арбитражный суд московской облости 
							.text-14 Судья: Мусуков М. А.
						li
							.text-14 ОСП по Юго-Восточному АО 109044, Россия, г. Москва, ул. Ленина, д. 19
			
			