//========== Организации ============
.custom-tabs__content-row
	.boxshadow-block
		//======header block ======
		.boxshadow-block__header.flex-wrapper
			.boxshadow-block__header-left
				.title-upper.flex-title
					span.icon-corrup
					span Организации
				.text-12 Количество судов: 2
			.boxshadow-block__header-right
				.icon-filter
		//======header block ======
		.boxshadow-block__body
			//====single======
			.report-card
				.report-card__header
					.title-16 ООО “ПРОФ СТРОЙ”
					.text-14 #[span ОГРН] 123456789000 
					.text-14 #[span ИНН] 1234567890
					.text-14 Москва, Улица ленина, 22
				.report-card__list
					ul
						li
							.text-14 Иванов Иван Иванович ИНН 1234567890
							.legend-green Генеральный директор
			//====single======
			.report-card
				.report-card__header
					.title-16 ООО “РИВА”
					.text-14 #[span ОГРН] 123456789000 
					.text-14 #[span ИНН] 1234567890
					.text-14 Москва, Улица ленина, 22
				.report-card__list
					ul
						li
							.text-14 Иванов Иван Иванович ИНН 1234567890
							.legend-green Генеральный директор
						li
							.legend-red Деятельность прекрощена: 1 сен. 2020 г.
						