.seller-tabs
	.custom-tabs(custom-tabs)
		.custom-tabs__btns
			p.custom-tab--current(ct-btn="1")
				span Отчёт
		
			p(ct-btn="2")
				span Суды
		
			p(ct-btn="3")
				span Арбитраж
			
		.custom-tabs__content
			.custom-tabs__content-block.ct-content--active(ct-content="1")
				.title-upper 
			.custom-tabs__content-block(ct-content="2")
				h1 jjjllll
			.custom-tabs__content-block(ct-content="3")
				h1 jjj;;;;