//========== Наша история ============
.timeline
	.timeline-title
		.text-14.text-upper.pb-24 Наша история
	.timeline-content
		+timeline-item(1, '2002г.', 'Ведущие специалисты Компании успешно трудятся в сфере юридической безопасности сделок с недвижимостью: от Астрахани до Санкт-Петербурга, от Калининграда до Иркутска, от Москвы до Московской области). ')
		+timeline-item(2, '2015г.', 'Получен колоссальный опыт сопровождения самых сложных сделок. Уникальные навыки мы грамотно применяем и совершенствуем именно для того, чтобы Вы могли уверенно владеть честной собственностью.')
		+timeline-item(3, '2017г.', 'Совместными усилиями нашей команды была создана гарантирующая компания "БезопасноСделка" с официально зарегистрированным уставным капиталом более 140 млн.₽. По данному показателю мы являемся абсолютными лидерами среди специализированных юридических компаний.  ')
		+timeline-item(4, '2019г.', '12 офисов в москве')