include ../../layouts/_mixins-links.pug
block variables

<!DOCTYPE html>
html(lang="ru")
	head
		meta(charset="UTF-8")
		meta(name="viewport", content="width=device-width, initial-scale=1.0")
		meta(http-equiv="X-UA-Compatible", content="ie=edge")

		//====убрать синий цвет у ссылок в сафари ========
		meta(name="format-detection" content="telephone=no")
		link(rel="stylesheet", href="./css/main.css")
		title UI-KIT

	body.body-dashboard

		include ./ui-navigation.pug

		block content
			.container-dashboard
				h2 Компоненты меню

				.container-dashboard__content
					ul.ui-components
						li
							+menuItem('Каталог услуг', '#', '','cat', 'Cat')
							pre.
								+menuItem('Каталог услуг', '#', '','cat', 'Cat')
						
						li(style="background: #333; padding:40px;")
							+menuItem('История заказов', '#', 'button-tr','hist', 'Hist')
						pre.
							+menuItem('История заказов', '#', 'button-tr','hist', 'Hist')
						
						li(style="background: #333; padding:40px;")
							a(href="#!").button-tr.text-upper напишите нам
								
						pre.
							a(href="#!").button-tr.text-upper напишите нам