.ui-panel
	.ui-panel-block
		.ui-panel-block__part
			h3 Базовые компоненты
			ul
				li
					a(href="colors.html") Цветовая схема
				li
					a(href="typography.html") Типографика
				li
					a(href="icons.html") Иконки
				li
					a(href="buttons.html") Кнопки
				li
					a(href="forms.html") Элементы формы
				li
					a(href="breadcrumbs.html") Хлебные крошки
				li
					a(href="components.html") Компоненты
		
		.ui-panel-block__part
			h3 Блоки
			ul
				li
					a(href="list-types.html") Виды списков
				li
					a(href="social-block.html") Иконки соцсетей
				
		.ui-panel-block__part
			h3 Карточки
			ul
				
				li
					a(href="service-card.html") Карточка услуги
				li
					a(href="verification-card.html") Объект проверки
				li
					a(href="category-card.html") Карточка категории
				li
					a(href="address-card.html") Карточка с адресом
				li
					a(href="complect-card.html") Карточка комплект №3
		.ui-panel-block__part
			h3 Секции
			ul
				li
					a(href="main-menu.html") Главное меню
		.ui-panel-block__part
			h3 Модальные окна
			ul
				li
					a(href="modal-frame.html") Базовое модальное окно
				