.ui-panel
	.ui-panel-block
		.ui-panel-block__part
			h3 Базовые компоненты
			ul
				li
					a(href="colors.html") Цветовая схема
				li
					a(href="typography.html") Типографика
				li
					a(href="positions-classes.html") Классы позиционирования
				
				li
					a(href="icons.html") Иконки
				li
					a(href="buttons.html") Кнопки
				li
					a(href="forms.html") Элементы формы
				li
					a(href="breadcrumbs.html") Хлебные крошки
				li
					a(href="components.html") Компоненты
		
		.ui-panel-block__part
			h3 Блоки
			ul
				li
					a(href="list-types.html") Виды списков
				li
					a(href="social-block.html") Иконки соцсетей
				li
					a(href="documents-slider.html") Слайдер документов
				
		.ui-panel-block__part
			h3 Карточки
			ul
				li
					a(href="service-card.html") Карточка услуги
				li
					a(href="verification-card.html") Объект проверки
				li
					a(href="category-card.html") Карточка категории
				li
					a(href="address-card.html") Карточка с адресом
				li
					a(href="complect-card.html") Карточка комплект №3
				li
					a(href="expert-review-card.html") карточка Экспертная проверка
				li
					a(href="express-card.html") карточка Экспресс данные
				li
					a(href="seller-card.html") карточка Экспресс данные
				li
					a(href="seller-card.html") карточка Продавца
		
		.ui-panel-block__part
			h3 Секции
			ul
				li
					a(href="main-menu.html") Главное меню
				li
					a(href="header-menu.html") Меню в шапке
				li
					a(href="footer.html") Footer
				li
					a(href="category-tabs.html") Табы-карточки категорий

		
		.ui-panel-block__part
			h3 Модальные окна
			ul
				li
					a(href="modal-1.html") Сообщение отправлено(м2093)
				li
					a(href="modal-2.html") Ввести данные об объекте?(м2078)
				li
					a(href="modal-3.html") Для кого проверка?(м2096)
				li
					a(href="modal-4.html") Напишите нам (м2092)
				li
					a(href="modal-5.html") Мы вас узнали? (д2074)
				li
					a(href="modal-6.html") Укажите номер телефона (д2075)
				li
					a(href="modal-7.html") Подтвердите по смс (д2076)
				li
					a(href="modal-8.html") Введите код (д2077)
				li
					a(href="modal-9.html") Укажите информацию о владельце (д2071)
				li
					a(href="modal-10.html") Заказ успешно оформлен(д2072)
				li
					a(href="modal-11.html") Закажите экспертный анализ(д2073)
				li
					a(href="modal-12.html") Закажите экспресс проверку(д2009)
				li
					a(href="modal-13.html") Заполнить профиль-личные данные(д2084)
				li
					a(href="modal-14.html") Заполнить профиль-почта для уведомлений(д2083)
		
		.ui-panel-block__part
	
			h3 Страница ЭКСПРЕСС-секции
			ul
				li
					a(href="express-header.html") Шапка на главной
				li
					a(href="address-not-found.html") Адрес не найден
				li
					a(href="address-search-result.html") Адреса-результаты поиска
				li
					a(href="reestr-data.html") Данные реестра
				li
					a(href="large-modal.html") Модалка со слайдером
		.ui-panel-block__part
			h3 Страница Проверка объекта-секции
			ul
				li
					a(href="check-object-header.html") Шапка