.categories-tabs {
	.tabs-header {
		padding-left: 1rem;
		padding-right: 1rem;
	}
	.category-card__icon {
		.icon-check {
			opacity: 0;
		}
	}
	.categories-single {
		display: grid;
		grid-template-columns: 1fr 1fr;
		column-gap: 1rem;
		max-width: 832px;
		&__list{
			max-width: 400px;
		}

		@media(max-width:767px) {
			column-gap: 0;

		}

		&__list-title {
			margin-bottom: 4px;

			.title-14 {
				text-transform: uppercase;

				@media(max-width:767px) {
					padding-left: 1rem;
				}
			}
		}

		.service-card+.service-card {
			margin-top: 1rem;

			@media(max-width:767px) {
				margin-top: 0;
			}
		}
	}

	.tabs-header {
		overflow: hidden;
	}

	.tabs {
		overflow: hidden;
		overflow-x: auto;
		scrollbar-width: none;

		&::-webkit-scrollbar {
			display: none;
			height: 0;
			width: 0;
		}

		@media(max-width:1023px) {
			width: calc(50% + 50vw);

		}

	}

	.tab+.tab {
		margin-left: 1rem;

		@media(max-width:1023px) {
			margin-left: 12px;
		}
	}

	.tabs-content {
		padding-top: 32px;
	}
}


.category-card.category-card--active,
.tab.active .category-card {
	border: 2px solid #80BC55;

	.category-card__icon {
		background-color: $green;

		.icon-check {
			opacity: 1;
		}
	}
}

.categories .categories-tabs {
	@media(max-width:1279px) {
		width: calc(100% - 416px);
	}

	@media(max-width:1023px) {
		width: 100%;
	}
}

.categories .categories-aside {
	width: 400px;

	@media(max-width:1023px) {
		display: none;
	}
}


.categories__fix-bottom {
	position: fixed;
	left: 0;
	bottom: 0;
	right: 0;
	height: 56px;
	z-index: 5;
	display: none;
	background-color: #fff;

	box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.25);
	border-radius: 4px;
	justify-content: center;

	@media(max-width:1023px) {
		display: flex;

		&::before {
			content: '';
			position: absolute;
			top: 0;
			left: 0;
			bottom: 0;
			width: 50%;
			background-color: #5182A4;
		}
	}
}
/* TABS*/
.tabs-wrapper {
	.tabs {
		display: flex;
	}

	.tab {
		cursor: pointer;
	}

}