.check-object__header {
		padding-top: 32px;
		padding-bottom: 40px;
		background: linear-gradient(180deg, #F7F7F7 0%, #F0F0F0 100%);

		.title-24 {
			color: $dark;
			margin-bottom: 12px;
		}

		.address-card {
			margin-bottom: 16px;

			&__right {
				display: none;
			}
		}
	
	&-content {	max-width: 620px;}
}	