.express-header{
	.page-header{padding-bottom: 0; height: 288px;}
	.page-header,
	.container{
		display: flex;
	}
	.page-header__content{
		width: 100%;
		min-height: 100%;}
	.page-header__right{
		display: flex;
		flex-direction: column;
		justify-content: flex-end;
	}
		@media(min-width:1024px) and (max-width: 1199px) {
			font-size: 32px;
		}
	@media(min-width:768px) and (max-width: 1023px){
		font-size: 28px;
	}
}
.express-header.express-header--inner{
	background: $blueBg;
	background-image:none;
	padding-top: 48px;
}
