//===== express page header ======

.basket-page__header
	.page-header
		.container
			+breadcrumbs(
			{link: "#", text: 'Профиль'},
			{link: "#", text: 'Список заказов'},
			{link: "#", text: 'Проверка продавца'},
			)
			.basket-page__header-content
				.title-24 Корзина
				.title-upper Состав заказа