//===== express page header ======
.express-header
	.page-header.page-header--img(style="background-image: url(../img/header-bg.jpg);")
		.container
			.page-header__content
				.page-header__left.col-712
					.page-header-title
						.title-2 Исключаем риски<br>при покупке недвижимости
					form(action="" method="method")
						.search-field
							.search-field__decor(frame-btn="search-region")
								img(src="../img/decor.png", width="18" alt="alt")
							.form-item
								input(type="text" placeholder="Проверим объект?")
							button.search-field__btn(type="submit")
								svg.svg-search
									use(xlink:href="../img/svg-sprite.svg#svgSearch")
				.page-header__right
					img(src="../img/certificate-bg.jpg", width="400" alt="alt")