
.categories
	.categories-body.p-40
		.container
			.categories-body__content
				.categories-body__left
					.categody-cards__wrapper.flex-wrapper
						+category-card('Базовая проверка', '7 900', '33 450', 'p-115.html')
						+category-card('Экспресс за 1 день!', '6 550', '33 450', 'p-115.html')(class="category-card--express")
						+category-card('Стандартная экспертиза', '10 990', '33 450', 'p-115.html')(class="category-card--active")
						+category-card('Стандартная экспертиза', '10 990', '33 450', 'p-115.html')

					.wrapper-pt32
						.categories-single
							//=====блок карточек======
							.categories-single__list
								.categories-single__list-title
									.visible-desk.title-14 Проверка объекта
									.visible-mob.title-14 Объект
								.categories-single__list-content
									//=====одна карточка======
									+servcard
									//=====одна карточка======
									+servcard
									//=====одна карточка======
									+servcard(class="service-card--disable")
									
							//=====блок карточек======
							.categories-single__list
								.categories-single__list-title
									.visible-desk.title-14 Проверка СОБСТВЕННИКА
									.visible-mob.title-14 СОБСТВЕННИК
								.categories-single__list-content
									+servcard
									+servcard
									+servcard
									+servcard(class="service-card--disable")
									+servcard(class="service-card--disable")

				//=====правый сайдбар======
				.categories-aside
					.complect-card
						.complect-card__title.title-20 Комплект проверки №3
						.complect-card__body
							+list-sublist([
							{listItem: 'Стандартная экспертиза', listPrice: '12 000 ₽', sublist:['ЕГРН с ЭЦП Росреестра', 'Оперативная справка', 'Претензии по объекту МО', 'Оперативная справка']}, 
							{listItem: 'Проверка иностранной доверенности', listPrice: '12 000 ₽'},
							{listItem: 'Проверка иностранной доверенности', listPrice: '12 000 ₽'}
							])
						.complect-card__footer
							.complect-card__footer--desk
								.button.double-button(frame-btn="enter-object-data")
									.double-button__left
										+icon-group('cart', 'Cart', 'В корзину')
									.double-button__right
										+price-block('120 456', '220 456')
							
							.complect-card__footer--mob
								.product-cart-btn(frame-btn="enter-object-data")
									.product-cart-btn__left
										svg.svg-cart
											use(xlink:href="../img/svg-sprite.svg#svgCart")
										.title-20 В корзину
									.product-cart-btn__right
										.price-block
											.price-block-new 120 456 &#8381;
											.price-block-old 220 456 &#8381;
			//======mob bottom fixed block ===========
			.categories__fix-bottom
				.product-cart-btn.button--blue(data-serv-modal)
					.product-cart-btn__left
						.price-block
							.price-block-new 120 456 &#8381;
							.price-block-old 220 456 &#8381;
						svg.svg-plus
								use(xlink:href="./img/svg-sprite.svg#svgPlus")
					.product-cart-btn__right
						svg.svg-cart
							use(xlink:href="./img/svg-sprite.svg#svgCart")
						.price-block
							.price-block-new 120 456 &#8381;
							.price-block-old 220 456 &#8381;
		
	//=======мод окно, ввод данных об объекте ========
	include ../blocks/modal-2