/**/
.object-search {
	.page-header {
		padding-top: 72px;
		padding-bottom: 80px;
		background-color: $blueBg;
		background-repeat: no-repeat;
		background-size: cover;
		@media(max-width:767px) {
			padding-top: 20px;
			padding-bottom: 70px;
		}

		&__content {
			color: #fff;
		}

	}

	&__results {
		padding-top: 32px;

		.cards-wrapper>*+* {
			margin-top: 4px;
		}

	}

	.page-header.header-100vh {
		.page-header__right {
			display: none;
		}
	}

	

}

.object-search__results--false {
	margin-top: 32px;

	.modal-frame__img {
		background-color: #E5B49D;

	}


}