.check-object{
	&-content{
		padding-bottom: 56px;
		overflow: hidden;
		
	}
	&__categories-title{
		line-height: 1.5;
		padding-bottom: 8px;
	}
	&-block{
		padding-top: 32px;
		&--mobile{
			@media(min-width:1024px){
				padding-top: 0;
			}
		}
	}
}