.categories {
	/*main-content*/
	&-body {
		&__left{overflow: hidden;}
		.container {
			@media(max-width:767px) {
				padding-left: 0;
				padding-right: 0;

				.tabs-header {
					padding-left: 1rem;
					padding-right: 1rem;
				}
			}
		}
	}

	&-body__content {
		display: grid;
		grid-template-columns: 2fr 1fr;
		column-gap: 1rem;

		@media(max-width:1279px) {
			display: flex;
			justify-content: space-between;
		}

		@media(max-width:1023px) {
			display: block;
		}
	}
}
.categories__fix-bottom {
	position: fixed;
	left: 0;
	bottom: 0;
	right: 0;
	height: 56px;
	z-index: 5;
	display: none;
	background-color: #fff;

	box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.25);
	border-radius: 4px;
	justify-content: center;

	@media(max-width:1023px) {
		display: flex;

		&::before {
			content: '';
			position: absolute;
			top: 0;
			left: 0;
			bottom: 0;
			width: 50%;
			background-color: #5182A4;
		}
	}
}
.page-header.header-100vh{
	min-height: 100vh;
}
/**/
.object-search {
	.page-header {
		padding-top: 72px;
		padding-bottom: 80px;
		background-color: $blueBg;

		@media(max-width:767px) {
			padding-top: 20px;
			padding-bottom: 70px;
		}

		&__content {
			color: #fff;
		}

	}

	&__results {
		padding-top: 8px;
		.cards-wrapper>*+*{margin-top: 4px;}

	}

	.page-header.header-100vh {
		.page-header__right {
			display: none;
		}
	}

	.wrapper-drop {
		margin-top: 54px;
	}

}

.object-search__results--false {
	margin-top: 32px;

	.modal-frame__img {
		background-color: #E5B49D;

	}

	
}

.checking-object--reestr {
	overflow: hidden;
}