.about-content{
	padding-top: 24px;
	padding-bottom: 72px;
}
.about-header{
	display: block;
	@media(max-width:1023px){
		display: none;
	}
}
.about-offer{
	display: flex;
	justify-content: space-between;
	&__left{
		width: 50%;
		max-width: 608px;
	}
	&__right{
		width: 40%;
		display: flex;
		justify-content: flex-end;
		.video{
			margin-top: -150px;
			
			max-width: 464px;
			width: 100%;
			max-height: 310px;
			object-fit: contain;
			
		}
	}
	@media(max-width:1023px) {.video {margin-top: 0;}}
	@media(max-width:767px){
		flex-direction: column-reverse;
		
		&__left ,&__right{width: 100%;}
		&__left{padding-top: 24px;}
		&__right{justify-content: center;}
	}
}
.about-info{
	display: grid;
	grid-template-columns: 1fr 2fr;
	column-gap: 0;
	@media(max-width:1199px) {
		grid-template-columns: repeat(1, 1fr);
	}
}