.seller-header{
	
	.title-2{margin-bottom: 0;}
	.flex-header{
		align-items: flex-end;
	}
	.page-header__right{
		width: fit-content;
		img{
			width: 120px;
			height: 152px;
			object-fit: contain;
		}
	}
	.page-header-chips{
		padding-top: 16px;
		
	}
	@media(max-width:767px){
		.page-header{
		height: auto;
		min-height: 182px;
		padding-top: 24px;
		padding-bottom: 24px;}
	}
}
.seller-content{
	position: relative;
	min-height: 470px;
	overflow: hidden;
	
	.check-object__title,
	.express-card {
		max-width: 712px;;
	}


	@media(min-width: 1024px){
		display: flex;
		.container{
			min-height: 100%;
		}
		.seller-tabs{
			min-height: 100%;
			display: flex;
		}
	}
}
.report-cards{
	.address-card{
		box-shadow: 0px 1px 4px rgba(0, 0, 0, 0.01),
		0px 4px 8px rgba(0, 0, 0, 0.02),
		0px 1px 12px rgba(0, 0, 0, 0.12)
	}
	.address-card+.address-card{margin-top: 16px;}
}