.accor{
	.text-upper
	{margin-bottom: 28px;
		font-family: $rm;
		color: $dark;
	}
}
.acor-container {
	&-block {
		border-radius: 5px;
		background-color: #fff;
		position: relative;
		border: 1px solid rgba(30, 65, 89, .24);
		padding: 12px 16px;

		input {
			position: absolute;
			left: 0;
			top: 0;
			opacity: 0;

			&:checked+label+.acor-body {
				height: auto;
			}

			&:checked+label>.chevron-down {
				transform: rotate(180deg);

			}
		}

		label {
			display: flex;
			align-items: center;
			justify-content: space-between;
			cursor: pointer;

			.text-16 {
				color: $darkBlue;
			}

		}

		.chevron-down {
			transition: .5s;

			svg {
				fill: #b5b5b5;
			}
		}


		.acor-body {
			height: 0;
			overflow: hidden;
			transition: .5s;

			p {
				padding-top: 16px;
				color: rgba(30, 65, 89, .54);
			}
		}

		.acor-body-content {
			padding: 24px;
			border-top: 1px solid #D8E1EF;
		}
	}
}
