.aside-menu{
	width: 100%;
	position: relative;
	max-width: 520px;
	background-color: #fff;
	position: fixed;
	z-index: 10;
	top:0;
	left: 0;
	bottom: 0;
	transform: translateX(-110%);
	transition: .5s;
	padding-top: 2rem;
	padding-bottom: 2rem;
	display: flex;
	justify-content: center;
	box-shadow: 0px 8px 40px rgba(0, 0, 0, 0.2);
	&__content{
		max-width: 19.5rem ;
		width: 100%;
	}
	&-block{
		padding: 12px 0px;
		border-top: 1px solid rgba(30, 65, 89, .24);
	}
	
	&-block__title {
		padding-left: 1rem;
		padding-bottom: 13px;
		color: #1E4159;
	}

	&__close{
		position: absolute;
		width: 40px;
		height: 40px;
		top: 16px;
		right: 32px;
		display: flex;
		justify-content: center;
		align-items: center;
	}
	&.visible {
		transform: translateX(0);
	}
	.person-block{
		padding: 16px 8px;
	}
}
.aside-menu[data-modal],.aside-menu[data-modal].visible {
	display: flex;
}