.flex-title,.svg-group{
	display: flex;
	align-items:center;
	svg + *{margin-left: 16px;}
	span+span {
		margin-left: 16px;
	}
}

.icon-text {
	height: 40px;
	color: #1E4159;
	display: flex;
	align-items: center;
	background-color: #fff;
	transition: .3s;
	padding-left: 11px;
	padding-right: 11px;
	border-radius: 4px;
	white-space: nowrap;

	&__img {
		width: 24px;
		height: 24px;
		display: flex;
		align-items: center;
		justify-content: center;
		flex-shrink: 0;
	}

	&>*+* {
		margin-left: 11px;
	}

	svg {
		fill: #7c7c7c;
	}

	&:hover {
		background-color: #F3F3F3;
	}

	span:first-child {
		width: 24px;
		height: 24px;

		svg {
			width: 16px;
			height: 16px;
		}
	}
}
.price-block {
	min-width: 80px;
	&-new {
		font-size: 14px;
		line-height: 1rem;
		letter-spacing: 0.75px;
		text-transform: uppercase;
		color: #333333;
		font-family: $rm;
	}

	&-old {
		font-size: 12px;
		line-height: 1rem;
		letter-spacing: 0.2px;
		text-decoration-line: line-through;
		color: #B5B5B5;
	}
}
.add-information{
	background: $f3;
	padding: 16px;
	.button-group-1,.button-tr {
		max-width: 100%;
		width: 100%;
	}
	.button-group-1+.button-group-1{
		padding-top: 16px;
	}
}
.form-order-card{
	
	background-color: #fff;
	box-shadow: 0px 1px 4px rgba(0, 0, 0, 0.01),
	0px 4px 8px rgba(0, 0, 0, 0.02),
	0px 1px 12px rgba(0, 0, 0, 0.12);
	border-radius: 4px;
	&__title{
		display: flex;
		align-items:center;
		font-family: $rm;
		font-size: 20px;
		line-height: 1.4;
		padding: 16px 32px;
		letter-spacing: 0.15px;
		a{
			line-height: 0;
		}
		svg{
			
			margin-right: 16px;
		}
	}
	&__body{
		padding: 32px;
		padding-bottom: 24px;
		padding-top: 16px;
		
		p{
			position: relative;
			padding-left: 16px;
			font-size: 14px;
			line-height: 1.5;
			color: $dark;
			font-family: $rm;
			padding-top: 4px;
			padding-bottom: 4px;
			&:before{
				content: '';
				width: 8px;
				height: 8px;
				background-color: $lightBlue;
				position: absolute;
				left: 0;
				top: 10px;
				border-radius: 1px;
			}
		}
	}
	&__footer{
		padding-top: 24px;
		padding-left: 32px;
		padding-right: 32px;
		padding-bottom: 24px;
	}
}
.badge {
	height: 16px;
	line-height: 17px;
	background-color: #DEDEDE;
	border-radius: 16px;
	padding-left: 8px;
	padding-right: 8px;
	display: inline-block;
	letter-spacing: 1.5px;
	text-transform: uppercase;
	color: #333333;
	font-family: $rm;
	font-size: 10px;
	flex-shrink: 0;

	&--color {
		color: #fff;
		background-color: #E39F80;

	}

	&--white {
		background-color: #fff;
		color: #7C7C7C;
	}
}

.badge-group {
	display: flex;
	align-items: center;
	width: 100%;
	padding-top: 8px;

	.badge+.badge {
		margin-left: 4px;
	}

	overflow: hidden;
	overflow-x: auto;
	scrollbar-width:0;

	&::-webkit-scrollbar {
		display: none;
		width: 0;
	}

	@media(max-width:767px) {
		width: 230px;
	}
}
.expert-review{
	max-width: 296px;
	padding: 16px;
	background: #FFFFFF;
	box-shadow: 0px 1px 4px rgba(0, 0, 0, 0.01),
	0px 4px 8px rgba(0, 0, 0, 0.02),
	0px 1px 12px rgba(0, 0, 0, 0.12);
	border-radius: 4px;
	&__body{
		display: flex;
		padding-bottom: 16px;
		.title-14{
			color: $darkBlue;
			padding-bottom: 4px;
		}
	}
	&__img {
		flex-shrink:0;
	}
	&__text{padding-left: 16px;}
	&__btn{
		.button{white-space: nowrap;}
		display: flex;
		align-items:center;
		justify-content: space-between;
	}
	a:hover{opacity: .7;}
}
.text-card {
	padding: 12px 24px 16px;
	background: #F3F3F3;
	box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.16),
		0px 2px 4px rgba(0, 0, 0, 0.12),
		0px 1px 8px rgba(0, 0, 0, 0.1);
	border-radius: 5px;

	.title-16,
	.body-2 {
		color: #333333
	}

	.title-16 {
		margin-bottom: 8px;
	}

	max-width: 296px;
	@media(max-width:1023px){max-width: 344px;}
}
.legend-item{
	font-size: .75rem;
	line-height: 1rem;
	letter-spacing: 0.2px;
	display: inline-block;

	span {
		display: inline-block;
		width: 8px;
		height: 8px;
		margin-right: 4px;
		border-radius: 50%;
		background-color: #EAB720;

	}

	&--blue {
		span {
			background-color: #76A5C3;

		}
	}

	&--red {
		span {
			background-color: #FF002E;

		}
	}

	&--disable {
		opacity: .3;
	}

	&+.legend-item {
		margin-left: 12px;
	}
}
.pay-card{
	background: #FFFFFF;	
	box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.16),
	0px 2px 4px rgba(0, 0, 0, 0.12),
	0px 1px 8px rgba(0, 0, 0, 0.1);
	display: inline-block;
	text-align: center;
	border-radius: 4px;
	width: 136px;
	&__img{
		height: 136px;
		display: flex;
		justify-content: center;
		align-items: center;
		padding: 8px;
		background: linear-gradient(180deg, #F7F7F7 0%, #F0F0F0 100%);
		border-radius: 4px;
	}
	&__text{
		font-size: 16px;
		line-height: 24px;
		letter-spacing: 0.44px;
		color: #1E4159;
		padding: 8px;
		background-color: #fff;
	}

}
.pay-card__wrapper{
	display: grid;
	grid-template-columns: 136px 136px;
	column-gap: 16px;
	row-gap:16px;
}