.modal-frame{
	padding-top: 80px;
	padding-bottom: 64px;
	width: 100%;
	max-width: 520px;
	position: relative;
	background-color: #fff;
	box-shadow: 0px 8px 40px rgba(0, 0, 0, 0.2);
	height: 800px;
	position: fixed;
	top: 0;
	right: 0;
	z-index: 10;
	transform:translateX(110%);
	transition: .5s;
	display: flex;
	flex-direction: column;
	&--left{
		right: auto;
		left:0;
		transform:translateX(-110%);
	}
	.text-left {
		text-align: left;
	}
	&__block{
		padding-top: 12px;
		padding-bottom: 12px;
		.title-14{
			padding-bottom: 16px;
			color: $dark;
		}
		ul{li+li{margin-top: 16px;}}
		ul{
			max-height: 178px;
			overflow: hidden;
			overflow-y: auto;
			scrollbar-width: thin;
			scrollbar-color: #5182A4 #DEDEDE;
			padding-right: 15px;
			
			&::-webkit-scrollbar {
				width: 5px;
				height: 20px;
				border-radius: 5px;
				display: block;
			}

			&::-webkit-scrollbar-thumb {
				background-color: #5182A4;
				border-radius: 5px;
			}

			&::-webkit-scrollbar-track {
				background-color: #DEDEDE;
				border-radius: 5px;
			}

		}
		.flex-wrapper {
			padding-bottom: 16px;
			.text-12{color: #7c7c7c;}
			.text-14 {
				padding-bottom: 0;
			}
		}
		
	}
	.login-social{margin-top: auto;}
	@media(max-width:767px){
		height: auto;
		min-height: 100vh;
		bottom:0;
		left:0;
		padding-bottom: 40px;
		padding-top: 40px;
	}
	&__img{
		padding-top: 40px;
		display: flex;
		justify-content: center;
		.success-check{
			width: 128px;
			height: 128px;
			border-radius: 50%;
			border: 3px solid $green;
			display: flex;
			justify-content: center;
			align-items: center;
			margin-left: auto;
			margin-right: auto;
			.svg-success {
				width: 60px;
				height: 50px;
			}
		}
	}
	&-content{
		.title-2{
			color: $base;
			text-align: center;
		}
		
	}
	&__text{
		padding-top: 32px;
		padding-bottom: 24px;
		text-align: center;
		&+form{padding-top: 0;}
		.title-24{
			margin-bottom: 16px;
		}
		.title-20 {padding-bottom: 20px;}
		.text-16{line-height: 1.5;}
	}
	&__text:first-child {
		padding-top: 0;}
	&__footer{
		padding-top: 32px;
		padding-bottom: 32px;
		.text-16{
			text-align: center;
			padding-top: 32px;
		}
		
	}
	&__footer--abs {
		position: absolute;
		bottom: 0;
	    left: 0;
	    right: 0;
		box-shadow: 0px 8px 40px rgba(0, 0, 0, 0.2);
	}
	&--short{
		height: auto;
		width: 100%;
		padding-top: 48px;
		max-width: 712px;
		.modal-frame__img{padding-top: 0;}
	}
	&--small{
		max-width: 344px;
		padding: 24px;
		height: auto;
		.modal-frame__text{
			padding-top: 0;
			text-align: left;
		}
		
		.title-20{
			position: relative;
			padding-left: 30px;
			width: fit-content;
			padding-bottom: 18px;
			
			.icon-not-small{
				position: absolute;
				left: 0;
				top: 3px;
			}
		}
		
		.modal-frame__footer{padding: 0;}
		.modal-frame__footer{
			display: flex;
			
		}
		.button{margin-left: auto;
		}
		.modal-close{
			right: 16px;
		}
	}
	
	.button + .button{
		margin-top: 16px;
	}
	&.visible{
		transform: translateX(0);
	}
}
.modal-frame--user{
	.modal-frame__text {
		padding-top: 8px;
		padding-bottom: 0;
	
	.title-24{
		font-family: $rm; 
		color: $darkBlue;
		padding-bottom: 32px;
		border-bottom: 1px solid rgba(30, 65, 89, .24);
		margin-top: 4px;
	}
	.text-14{
		color: rgba(30, 65, 89, .72);
		margin-bottom: 8px;
	}
}

}
.modal-close{
	position: absolute;
	width: 40px;
	height: 40px;
	z-index: 5;
	cursor:pointer;
	top: 16px;
	right: 24px;
	display: flex;
	justify-content: center;
	align-items: center;
	
}
.container-slim{
	max-width: 312px;
	margin-left: auto;
	margin-right: auto;
}
.modal-frame__form {
	.title-14 {
		color: $dark;
		padding-bottom: 32px;
	}
	.person-block--flex{
		padding-bottom: 20px;
		border-bottom: 1px solid #b5b5b5;
	}

}