.right-modal{
	width: 100%;
	max-width: 520px;
	position: fixed;
	top: 0;
	bottom: 0;
	right: 0;
	background-color: #fff;
	box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
	z-index: 2;
	display: flex;
	justify-content: center;
	padding-top: 150px;
	transition: .5s;
	transform: translateX(110%);

	&-content {
		width: 100%;
		max-width: 320px;
	}

	&__header {
		display: flex;
		align-items: center;

		img {
			margin-right: 16px;
		}
	}

	&__body {
		padding-top: 2em;
		padding-bottom: 24px;
	}
	&__footer {
		padding-top: 24px;
		padding-bottom: 24px;
	}
	.button {
		letter-spacing: -0.2px;
		font-size: 16px;
	}
}

.right-modal.right-modal--active{
	transform: translateX(0);
}
/* статичное окно справа на стр 112*/
.right-modal.right-modal--static{
	@media(max-width:1439px) {
		max-width: 450px;
	}
	@media(max-width:1364px){
		max-width: 370px;
	}
	@media(max-width:1023px) {
	
		position: relative;
		padding: 16px;
		box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.18);
		border-radius: 4px;
		max-width: 620px;
		width: 100%;
		.right-modal-content {
			max-width: 100%;
		}
		
	}
	@media(max-width:767px){
		.right-modal__footer.right-modal__footer--desktop{
			display: none;
		}
	}
}
.right-modal.right-modal--desktop {
	display: flex;
	@media(max-width:1023px){
		display: none;
	}
}