mixin form-item(inpType = 'text', place, impName='', defaultPlace,  tagTextarea)
	if !tagTextarea
		if defaultPlace
			.form-item&attributes(attributes)
				span.fake-placeholder #{place}
				input(type=""+ inpType name=""+ impName  placeholder=""+ defaultPlace )
		else
			.form-item&attributes(attributes)
				span.fake-placeholder #{place}
				input(type=""+ inpType name=""+ impName)
	else
		.form-item
			span.fake-placeholder #{place}
			textarea(type="text"+ inpType name=""+ impName  placeholder=""+ defaultPlace)

//- кастомный чекбокс
mixin checkbox-item(inpName)
	.checkbox-item&attributes(attributes)
		label
			input(type="checkbox" name=""+inpName )
			span

//- ----Подключите месенджеры---
mixin attach-item(iconClass, itemText, checkboxName)
	.attach-item
		.attach-item__type
			span(class="soc-icon "+ iconClass)
			.text-16 #{itemText}
		+checkbox-item(''+ checkboxName)
	