mixin breadcrumbs(...items)
	.breadcrumb-block
		a(href="index.html").breadcrumb-block__item
			span.icon-home
		each item in items
			a(href="#!"+ item.link).breadcrumb-block__item #{item.text}
		
//-  свг + текст
mixin icon-group(svgClass, svgId, text)
	.svg-group
		svg(class="svg-"+svgClass)
			use(xlink:href="../img/svg-sprite.svg#svg"+ svgId)
		span !{text}
