//-  свг + текст
mixin icon-group(svgClass, svgId, text)
	.svg-group
		svg(class="svg-"+svgClass)
			use(xlink:href="../img/svg-sprite.svg#svg"+ svgId)
		span !{text}
//- строка главного меню
mixin menuItem(text, link, addClass, svgClass, svgId )
	a(href=""+link class="icon-text "+addClass)
		svg(class="svg-"+svgClass)
			use(xlink:href="../img/svg-sprite.svg#svg"+ svgId)
		span !{text}

//- блок бокового главного меню
mixin menu-block(arr, title)
	.aside-menu-block
		if title
			.aside-menu-block__title.body-2 #{title}
		each item in arr
			a(href="#").icon-text
				span.icon-text__img
					svg(class=""+item.svgClass)
						use(xlink:href="../img/svg-sprite.svg#svg"+ item.spritId)
				span #{item.text}