
mixin servcard
	.service-card(data-serv-modal)&attributes(attributes)
		.service-card__left
			span.icon-doc
		.service-card__center
			.service-card__title
				p Проверка инностранной доверенности
			.service-card__price
				.body-2 5 000₽ 
				.text-9 5 000₽

		.service-card__right
			.info-icon
				svg.svg-info
					use(xlink:href="../img/svg-sprite.svg#svgInfo")