mixin social-item(link="#", itemCl)
	a(href=""+ link class="soc-icon "+ itemCl)

mixin social-block(...items)
	.social-block
		each item in items
			a(class="soc-icon "+ item.socClass  href=""+ item.link)