extends ../layouts/layout.pug

block content
	.start-page
		h1 Проект "БезопасноСделка"
		.start-page__cards
			a(href="../ui/ui-kit.html") UI-KIT PAGE
			a(href="p-117.html")
				span express
				span Главная
			a(href="p-118.html")
				span express
				span Поиск объекта
			a(href="p-119.html")
				span express
				span Найденные объекты
			a(href="p-120.html")
				span express
				span Объект не найден
			a(href="p-113.html")
				span Проверка объекта
	
	
	
block variables
	-var title = "Page";
