extends ../layouts/layout.pug

block content
	.start-page
		h1 Проект "БезопасноСделка"
		.start-page__cards
			a(href="../ui/ui-kit.html") UI-KIT PAGE
			a(href="p-117.html")
				span express
				span Главная
			a(href="p-118.html")
				span express
				span Поиск объекта
			a(href="p-119.html")
				span express
				span Найденные объекты
			a(href="p-120.html")
				span express
				span Объект не найден
			a(href="p-112.html")
				span Проверка Объекта
				span макет 112
			a(href="p-113.html")
				span Проверка Объекта
				span макет 113
			a(href="p-114.html")
				span Проверка Объекта
				span макет 114
			a(href="p-84.html")
				span Проверка Продавца
				span макет 84
	
	
	
block variables
	-var title = "Page";
