extends ../layouts/layout.pug

block content
	
	//========gamburger-menu=========
	include ../sections/_main-menu
	//========top-menu=========
	+header('Проверка объекта')
	.check-object.page-grid
		.page-grid__left
			include ../sections/_check-object-header
			.check-object-content
				.container
					.check-object-table
					.page-grid__right
						.right-modal.right-modal--static.right-modal--active
							.right-modal-content
								.right-modal__header
									.title-20 Рекомендации
								.right-modal__body
									+list-types('marker-list', 'Нужно проверить текущих и предведущих собственников', 'Проерить притензии по объекту т.к. были аресты и запрещения', 'Проерить притензии по объекту т.к. были аресты и запрещения', 'Заказать комплексную проверку с правовым сертификатом')
								.right-modal__footer
									.button-group-2
										.button-group__top.text-center
											.text-12.text-dark Рекомендуемый для Вас состав проверки
										+double-button('Оформить', '19 9999 &#8381;')
	.page-mobile-fix-bottom
		.button-group-2
			.button-group__top.text-center
				.text-12.text-dark Рекомендуемый для Вас состав проверки
			+double-button('Оформить', '19 9999 &#8381;')
	//========== footer ==========
	include ../sections/_footer
	
block variables
	-var title = "Expresss | главная";
	- var bodyCl = "body-flex"
