extends ../layouts/layout.pug

block content
	
	//========gamburger-menu=========
	include ../sections/_main-menu
	//========top-menu=========
	+header('Проверка объекта')
	.category-page
		//======= page-header ==========
		.page-header.page-header--blue
			.container
				.page-header-title
					.title-2 Получите данные о владельце при комплексной проверке
						
		//========= page-content =========
		include ../sections/_express-body
		//========= large-modal =========
		include ../blocks/large-modal
	//========== footer ==========
	include ../sections/_footer
	
block variables
	-var title = "Expresss | главная";
