extends ../layouts/layout.pug

block content
	
	//========gamburger-menu=========
	include ../sections/_main-menu
	//========top-menu=========
	+header('Отчет по объекту','inner','#!')(class="page-header--inner page-header--light")
	.check-object.page-grid
		.page-grid__left
			include ../sections/_check-object-header
			.check-object-content
				.container
					//====окно с рекомендациями =======
					.check-object-block.check-object-block--mobile
						.page-grid__right
							.right-modal.right-modal--static.right-modal--active
								.right-modal-content
									.right-modal__header
										.title-20 Заключение эксперта
									.right-modal__body
										+list-types('marker-list', 'Нужно проверить текущих и предведущих собственников', 'Проерить притензии по объекту т.к. были аресты и запрещения', 'Проерить притензии по объекту т.к. были аресты и запрещения', 'Заказать комплексную проверку с правовым сертификатом')
										.wrapper-pt32.wrapper-hide-1023
											+text-card('ФИНАНСОВАЯ ГАРАНТИЯ СДЕЛКИ', 'Мы дадим финансовую гарантию безопасности сделки на всю сумму договора покупки')
									.right-modal__footer.wrapper-hide-1023
										+double-button('Финансовая гарантия на сделку', '19 9999 &#8381;', 'button--blue fz-12')
					
					//====таблица =======
					.check-object-block
						.check-object-table
							img(src="./img/table.jpg", alt="")
							+persone-label("Петров А.И.", 'green')(frame-btn="table-object")
	
					.wrapper-visible-1023
						.wrapper-pt32
							+text-card('ФИНАНСОВАЯ ГАРАНТИЯ СДЕЛКИ', 'Мы дадим финансовую гарантию безопасности сделки на всю сумму договора покупки')
						.wrapper-pt32
							+double-button('Финансовая гарантия на сделку', '19 9999 &#8381;', 'button--blue fz-12')



	//========== footer ==========
	include ../sections/_footer
	include ../blocks/modal-12
	
block variables
	-var title = "Проверить объект | главная";
	- var bodyCl = "body-flex"
