extends ../layouts/layout.pug

block content
	
	//========gamburger-menu=========
	include ../sections/_main-menu
	//========top-menu=========
	+header('Проверка объекта')
	.check-object.page-grid
		.page-grid__left
			include ../sections/_check-object-header
			.check-object-content
				.container
					//====окно с рекомендациями =======
					.check-object-block.check-object-block--mobile
						.page-grid__right
							.right-modal.right-modal--static.right-modal--active
								.right-modal-content
									.right-modal__header
										.title-20 Рекомендации
									.right-modal__body
										+list-types('marker-list', 'Нужно проверить текущих и предведущих собственников', 'Проерить притензии по объекту т.к. были аресты и запрещения', 'Проерить притензии по объекту т.к. были аресты и запрещения', 'Заказать комплексную проверку с правовым сертификатом')
									.right-modal__footer
										.button-group-2
											.button-group__top.text-center
												.text-12.text-dark Рекомендуемый для Вас состав проверки
											+double-button('Оформить', '19 9999 &#8381;')
					
					//====таблица =======
					.check-object-block
						.check-object-table
							img(src="./img/table.jpg", alt="")
							+persone-label("Петров А.И.", 'green')(frame-btn="table-object")
					//====текстовая карточка =======
					.check-object-block
						+text-card('ФИНАНСОВАЯ ГАРАНТИЯ СДЕЛКИ', 'Мы дадим финансовую гарантию безопасности сделки на всю сумму договора покупки')
					//====текстовая карточка =======
					.check-object-block
						.check-object__categories-title
							.text-16 Другие варианты комплексной проверки
						.categody-cards__wrapper.flex-wrapper
							+category-card('Базовая проверка', '7 900', '33 450','p-117.html')
							+category-card('Экспресс за 1 день!', '6 550', '33 450','p-117.html')(class="category-card--express")
							+category-card('Стандартная экспертиза', '10 990', '33 450','p-117.html')(class="category-card--active")
							+category-card('Стандартная экспертиза', '10 990', '33 450','p-117.html')
					
	//====кнопка с ценой, прибитая к низу экрана на моб версии =======				
	.page-mobile-fix-bottom
		.button-group-2
			.button-group__top.text-center
				.text-12.text-dark Рекомендуемый для Вас состав проверки
			+double-button('Оформить', '19 9999 &#8381;')
	//========== footer ==========
	include ../sections/_footer
	include ../blocks/modal-12
	
block variables
	-var title = "Проверить объект | главная";
	- var bodyCl = "body-flex"
