extends ../layouts/layout.pug

block content
	
	//========gamburger-menu=========
	include ../sections/_main-menu
	//========top-menu=========
	+header('Частые вопросы','inner','#!')(class="page-header--inner page-header--light")
	.faq-header
		.page-header
			.container
				+breadcrumbs(
				{link: "#", text: 'Профиль'},
				{link: "#", text: 'Список заказов'},
				{link: "#", text: 'Проверка продавца'},
				)
				.page-header-title
					.title-2 Часто задаваемые вопросы
				form(action="" method="method")
					.search-field
						.search-field__decor(frame-btn="search-region")
							img(src="../img/decor.png", width="18" alt="alt")
						.form-item
							input(type="text" placeholder="Проверим объект?")
						button.search-field__btn(type="submit")
							svg.svg-search
								use(xlink:href="../img/svg-sprite.svg#svgSearch")
	.faq-content
		.container
			.col-712
				+accordeon('Услуги', 
					{id: 'serv1', groupName: 'servName1', head: 'Как заключается договор?', texts: ['Родственники должны были заявить о пропаже, выждать год, подать документы на признание лица безвестно отсутствующим. ', 'Согласно данным статистики, около 80% разыскиваемых рано или поздно находятся. Гражданин может потребовать и добиться восстановления регистрации. Это не означает, что он получит.']},
					{id: 'serv2', groupName: 'servName1', head: 'Как заключается договор?', texts: ['Родственники должны были заявить о пропаже, выждать год, подать документы на признание лица безвестно отсутствующим. ', 'Согласно данным статистики, около 80% разыскиваемых рано или поздно находятся. Гражданин может потребовать и добиться восстановления регистрации. Это не означает, что он получит.']},
					{id: 'serv3', groupName: 'servName1', head: 'Как заключается договор?', texts: ['Родственники должны были заявить о пропаже, выждать год, подать документы на признание лица безвестно отсутствующим. ', 'Согласно данным статистики, около 80% разыскиваемых рано или поздно находятся. Гражданин может потребовать и добиться восстановления регистрации. Это не означает, что он получит.']},
					)
				+accordeon('Услуги', 
					{id: 'serv4', groupName: 'servName2', head: 'Как заключается договор?', texts: ['Родственники должны были заявить о пропаже, выждать год, подать документы на признание лица безвестно отсутствующим. ', 'Согласно данным статистики, около 80% разыскиваемых рано или поздно находятся. Гражданин может потребовать и добиться восстановления регистрации. Это не означает, что он получит.']},
					{id: 'serv5', groupName: 'servName2', head: 'Как заключается договор?', texts: ['Родственники должны были заявить о пропаже, выждать год, подать документы на признание лица безвестно отсутствующим. ', 'Согласно данным статистики, около 80% разыскиваемых рано или поздно находятся. Гражданин может потребовать и добиться восстановления регистрации. Это не означает, что он получит.']},
					{id: 'serv6', groupName: 'servName2', head: 'Как заключается договор?', texts: ['Родственники должны были заявить о пропаже, выждать год, подать документы на признание лица безвестно отсутствующим. ', 'Согласно данным статистики, около 80% разыскиваемых рано или поздно находятся. Гражданин может потребовать и добиться восстановления регистрации. Это не означает, что он получит.']},
					)
				+accordeon('Услуги', 
					{id: 'serv7', groupName: 'servName3', head: 'Как заключается договор?', texts: ['Родственники должны были заявить о пропаже, выждать год, подать документы на признание лица безвестно отсутствующим. ', 'Согласно данным статистики, около 80% разыскиваемых рано или поздно находятся. Гражданин может потребовать и добиться восстановления регистрации. Это не означает, что он получит.']},
					{id: 'serv8', groupName: 'servName3', head: 'Как заключается договор?', texts: ['Родственники должны были заявить о пропаже, выждать год, подать документы на признание лица безвестно отсутствующим. ', 'Согласно данным статистики, около 80% разыскиваемых рано или поздно находятся. Гражданин может потребовать и добиться восстановления регистрации. Это не означает, что он получит.']},
					{id: 'serv9', groupName: 'servName3', head: 'Как заключается договор?', texts: ['Родственники должны были заявить о пропаже, выждать год, подать документы на признание лица безвестно отсутствующим. ', 'Согласно данным статистики, около 80% разыскиваемых рано или поздно находятся. Гражданин может потребовать и добиться восстановления регистрации. Это не означает, что он получит.']},
					)
			
					
	
	//========== footer ==========
	include ../sections/_footer
	include ../blocks/search-region
	
	
block variables
	-var title = "Проверить объект | главная";
	- var bodyCl = "faq"
