extends ../layouts/layout.pug

block content
	//========gamburger-menu=========
	include ../sections/_main-menu
	
	//========top-menu=========
	+header('Проверка объекта','inner','p-118.html')(class="page-header--inner")
	
	//======= page-header ==========
	.object-search
		.page-header.page-header--img.header-100vh(style="background-image:url(./img/header-bg.jpg)")
			.container
				.page-header__content
					.col-712
						.page-header-title
							.title-2 Исключаем риски<br>при покупке недвижимости
						form(action="" method="method")
							.search-field
								.search-field__decor(frame-btn="search-region")
									img(src="./img/decor.png", width="18" alt="alt")
								.form-item
									input(type="text" placeholder="Проверим объект?")
								button.search-field__btn
									svg.svg-close
										use(xlink:href="./img/svg-sprite.svg#svgClose")
			.object-search__results
				.container
					//====сообщение для десктоп версии =========
					.modal-frame.modal-frame--short.modal-frame--notfound
						.modal-frame-content
							.container-slim
								.modal-frame__img
									.icon-not
										svg.svg-stop
											use(xlink:href="../img/svg-sprite.svg#svgStop")
								.modal-frame__text
									.title-20 Адрес не найден
									.text-16  Укажите иной адрес или исправьте опечатку если допустили ошибку
						.modal-frame__footer
							.container-slim
								.container-slim
									+button('button', '', 'Перейти в каталог услуг', 'button--blue')

					//====сообщение для моб версии =========
					.modal-frame.modal-frame--small.modal-frame--notfound.visible(data-modal="notfound")
						.modal-close.btn-close
							svg.svg-close(data-close)
								use(xlink:href="../img/svg-sprite.svg#svgClose")
						.modal-frame-content
							.modal-frame__text
								.title-20
									.icon-not-small
										svg.svg-stop
											use(xlink:href="../img/svg-sprite.svg#svgStop")
									|Адрес не найден
								.text-16  Укажите иной адрес или исправьте опечатку если допустили ошибку
							.modal-frame__footer
								+button('button', '', 'ok', 'button--blue button--short h-40' )(data-close)
	include ../blocks/search-region

block variables
	-var title = "Express| Результаты поиска";
	- var bodyCl = "express-page"
