extends ../layouts/layout.pug

block content
	
	//========gamburger-menu=========
	include ../sections/_main-menu
	//========top-menu=========
	+header('Данные о собственнике','inner','#!')(class="page-header--inner page-header--light")
	//======= шапка ======
	.seller-header
		.page-header.page-header--green
			.container
				+breadcrumbs(
				{link: "#", text: 'Профиль'},
				{link: "#", text: 'Список заказов'},
				{link: "#", text: 'Проверка продавца'},
				)(class="breadcrumb-block--white")
				.flex-wrapper.flex-wrapper--reverse-mobile
					.page-header__left
						.page-header-title
							.title-2 Иванов Иван Иванович
						.page-header-text
							.seller-info
								p Год рождения: #[span 12.11.1987	]
								p ИНН: #[span 644005983025]
								p Регионы проверки:  #[span  23	](Краснодарский край)
						
					.page-header__right
						img(src="../img/seller.jpg", width="120" alt="alt")
				
	//======== content =======
	.seller-content
		.container
			.seller-tabs
				.custom-tabs(custom-tabs)
					.custom-tabs__btns
						+seller-tabs-btns(
							{dataVal: 1, addClass: 'current', text: 'Отчёт' },
							{dataVal: 2,  text: 'Суды' },
							{dataVal: 3,  text: 'Арбитраж' },
							{dataVal: 4,  text: 'Банкротства' },
							{dataVal: 5,  text: 'Коррупция' },
							{dataVal: 6,  text: 'Организации' },
							{dataVal: 7,  text: 'ФССП' },
							{dataVal: 8,  text: 'Налоги' },
							{dataVal: 9,  text: 'Залоги' },
							{dataVal: 10,  text: 'Дисквалификация' },
							{dataVal: 11,  text: 'Терроризм' },
							{dataVal: 12,  text: 'Лицом интересовались' },
							{dataVal: 13,  text: 'Проверка паспорта' },
							{dataVal: 14,  text: 'Финансовый Скоринг FICO' },
							{dataVal: 15,  text: 'Финансовый Скоринг через ОКБ' },
							)
						
						.custom-tabs__row.custom-tabs__row--hide-1199
							a(href="p-131.html").expert-review
								.expert-review__body
									.expert-review__img
										.success-group
											.icon-doc
											.check-success
									.expert-review__text
										.title-14 Экспертная проверка
										.text-12 Будет произведен анализ открытых и закрытых данных и вынесено заключение
								.expert-review__btn
									+double-button('Заказать проверку', '2 999 ₽')(class="fz-16")
						
					//======== content =======
	.seller-content
		.container
			.seller-tabs
				.custom-tabs(custom-tabs)
					.custom-tabs__btns
						+seller-tabs-btns(
							{dataVal: 1, addClass: 'current', text: 'Отчёт' },
							{dataVal: 2,  text: 'Суды' },
							{dataVal: 3,  text: 'Арбитраж' },
							{dataVal: 4,  text: 'Банкротства' },
							{dataVal: 5,  text: 'Коррупция' },
							{dataVal: 6,  text: 'Организации' },
							{dataVal: 7,  text: 'ФССП' },
							{dataVal: 8,  text: 'Налоги' },
							{dataVal: 9,  text: 'Залоги' },
							{dataVal: 10,  text: 'Дисквалификация' },
							{dataVal: 11,  text: 'Терроризм' },
							{dataVal: 12,  text: 'Лицом интересовались' },
							{dataVal: 13,  text: 'Проверка паспорта' },
							{dataVal: 14,  text: 'Финансовый Скоринг FICO' },
							{dataVal: 15,  text: 'Финансовый Скоринг через ОКБ' },
							)
						
						.custom-tabs__row.custom-tabs__row--hide-1199
							a(href="p-131.html").expert-review
								.expert-review__body
									.expert-review__img
										.success-group
											.icon-doc
											.check-success
									.expert-review__text
										.title-14 Экспертная проверка
										.text-12 Будет произведен анализ открытых и закрытых данных и вынесено заключение
								.expert-review__btn
									+double-button('Заказать проверку', '2 999 ₽')(class="fz-16")
						
					//======tabs content ======
					.custom-tabs__content
						//=============== 1 ============
						.custom-tabs__content-block(ct-content="1")
							include ../blocks/report-report
						//=============== 2 ============
						.custom-tabs__content-block(ct-content="2")
							include ../blocks/report-courts
						//=============== 3 ============
						.custom-tabs__content-block(ct-content="3")
							include ../blocks/report-arbitrage
						//=============== 4 ============
						.custom-tabs__content-block(ct-content="4")
							include ../blocks/report-bankrot
						//=============== 5 ============
						.custom-tabs__content-block(ct-content="5")
							include ../blocks/report-corrup
						//=============== 6 ============
						.custom-tabs__content-block(ct-content="6")
							include ../blocks/report-organ
						//=============== 7 ============
						.custom-tabs__content-block(ct-content="7")
							include ../blocks/report-fspp
						//=============== 8 ============
						.custom-tabs__content-block(ct-content="8")
							include ../blocks/report-nalog
						//=============== 9 ============
						.custom-tabs__content-block(ct-content="9")
							include ../blocks/report-zalog
						//=============== 10 ============
						.custom-tabs__content-block(ct-content="10")
							include ../blocks/report-disqual
						//=============== 11 ============
						.custom-tabs__content-block(ct-content="11")
							include ../blocks/report-terror
						.custom-tabs__content-block(ct-content="12")
							include ../blocks/report-interest
						.custom-tabs__content-block(ct-content="13")
							include ../blocks/report-passport
						.custom-tabs__content-block.ct-content--active(ct-content="14")
							include ../blocks/report-finance1
						.custom-tabs__content-block(ct-content="15")
							include ../blocks/report-finance2
	//========== footer ==========
	include ../sections/_footer
	
	
	
	
block variables
	-var title = "Продавец";
	- var bodyCl = "seller"
