include ../mixins/mixins.pug
include ../mixins/buttons.pug
include ../mixins/price-block.pug
include ../mixins/main-menu.pug
include ../mixins/list-types.pug
include ../mixins/social-block.pug
include ../mixins/complect-card.pug
include ../mixins/address-card.pug