include ../../layouts/_mixins-links.pug
block variables

<!DOCTYPE html>
html(lang="ru")
	head
		meta(charset="UTF-8")
		meta(name="viewport", content="width=device-width, initial-scale=1.0")
		meta(http-equiv="X-UA-Compatible", content="ie=edge")

		//====убрать синий цвет у ссылок в сафари ========
		meta(name="format-detection" content="telephone=no")
		link(rel="stylesheet", href="../css/main.css")
		title UI-KIT

	body.body-dashboard

		include ../../ui/ui-navigation.pug

		block content
			.container-dashboard
				h2 текст с бордером слева
				+border-text('Начиная с 2002 года ведущие специалисты Компании успешно трудятся в сфере юридической безопасности сделок с недвижимостью: от Астрахани до Санкт-Петербурга, от Калининграда до Иркутска, от Москвы до Московской области.')
				pre.
					+border-text('Начиная с 2002 года ведущие специалисты Компании успешно трудятся в сфере юридической безопасности сделок с недвижимостью: от Астрахани до Санкт-Петербурга, от Калининграда до Иркутска, от Москвы до Московской области.')
				
				br
				br
				h2 карточка члена команды
				+employee-card('team2', 'Александр Чернов', 'Юридический сектор')
				+employee-card('team1', 'Анастасия Чернова', 'Юридический сектор')
				pre.
					+employee-card('team2', 'Александр Чернов', 'Юридический сектор')
					+employee-card('team1', 'Анастасия Чернова', 'Юридический сектор')
				br
				br
				h2 видео блок
				.video
					.video-play-btn
					video.video-frame( poster="../img/team1.jpg" width="100%")
						source(src="../video/video.ogv", type="video/ogg;")
						source(src="../video/video.mp4", type="video/mp4")
						source(src="../video/video.webm", type="video/webm")
				pre.
					.video
						.video-play-btn
						video.video-frame( poster="../img/team1.jpg" width="100%")
							source(src="../video/video.ogv", type="video/ogg;")
							source(src="../video/video.mp4", type="video/mp4")
							source(src="../video/video.webm", type="video/webm")

				br
				br
				h2 карточка преимущества
				+benefit-card('Уверенность', '142 000 000 ₽', 'Ведущие специалисты Компании успешно трудятся в сфере юридической безопасности сделок с недвижимостью: от Астрахани до Санкт-Петербурга, от Калининграда до Иркутска, от Москвы до Московской области).')
				pre.
					+benefit-card('Уверенность', '142 000 000 ₽', 'Ведущие специалисты Компании успешно трудятся в сфере юридической безопасности сделок с недвижимостью: от Астрахани до Санкт-Петербурга, от Калининграда до Иркутска, от Москвы до Московской области).')
				br
				br
				h2 timeline
				.timeline
					+timeline-item(1, '2017г.', 'Совместными усилиями нашей команды была создана гарантирующая компания "БезопасноСделка" с официально зарегистрированным уставным капиталом более 140 млн.₽. По данному показателю мы являемся абсолютными лидерами среди специализированных юридических компаний. ')
					+timeline-item(2, '2017г.', 'Совместными усилиями нашей команды была создана гарантирующая компания "БезопасноСделка" с официально зарегистрированным уставным капиталом более 140 млн.₽. По данному показателю мы являемся абсолютными лидерами среди специализированных юридических компаний. ')
					+timeline-item(3, '2017г.', 'Совместными усилиями нашей команды была создана гарантирующая компания "БезопасноСделка" с официально зарегистрированным уставным капиталом более 140 млн.₽. По данному показателю мы являемся абсолютными лидерами среди специализированных юридических компаний. ')
				pre.
					+timeline-item(1, '2017г.', 'Совместными усилиями нашей команды была создана гарантирующая компания "БезопасноСделка" с официально зарегистрированным уставным капиталом более 140 млн.₽. По данному показателю мы являемся абсолютными лидерами среди специализированных юридических компаний. ')
				br
				br
				h2 
				


		script(src="../libs/jquery/jquery-3.0.0.min.js")
		script(src="https://unpkg.com/swiper/swiper-bundle.min.js")
		script(src="./js/video-block.js")
		script(src="../js/main.js")

				

				