include ../../layouts/_mixins-links.pug
block variables

<!DOCTYPE html>
html(lang="ru")
	head
		meta(charset="UTF-8")
		meta(name="viewport", content="width=device-width, initial-scale=1.0")
		meta(http-equiv="X-UA-Compatible", content="ie=edge")

		//====убрать синий цвет у ссылок в сафари ========
		meta(name="format-detection" content="telephone=no")
		link(rel="stylesheet", href="../css/main.css")
		title UI-KIT

	body.body-dashboard

		include ../../ui/ui-navigation.pug

		block content
			.container-dashboard
				h2 Карточка адреса

				.container-dashboard__content
					h2  1. Карточка - основная
					+address-card('#!')
					pre.
						+address-card('test.html')
					br
					p  Добавление класса "address-card--current", показывает иконку галочку в правой части.  Класс добавляется и удаляется за счет скрипта
					+address-card('test.html')(class="address-card--current")
					br
					br
					h2  2. Карточка мини- результат поиска
					+address-card-mini('г. Зеленоград, ул. Юности','г. Москва')
					pre.
						+address-card-mini('г. Зеленоград, ул. Юности','г. Москва')
		
		script(src="../libs/jquery/jquery-3.0.0.min.js")
		script(src="https://unpkg.com/swiper/swiper-bundle.min.js")
		script(src="../js/main.js")
