include ../../layouts/_mixins-links.pug
block variables

<!DOCTYPE html>
html(lang="ru")
	head
		meta(charset="UTF-8")
		meta(name="viewport", content="width=device-width, initial-scale=1.0")
		meta(http-equiv="X-UA-Compatible", content="ie=edge")

		//====убрать синий цвет у ссылок в сафари ========
		meta(name="format-detection" content="telephone=no")
		link(rel="stylesheet", href="../css/main.css")
		title UI-KIT

	body.body-dashboard

		include ../../ui/ui-navigation.pug

		block content
			.container-dashboard
				h2 Компоненты корзины
				ul
					li
						h3 аккордеон -заказ
						.order-list
							.order-list-card
								.accor-container
									.acor-container-block
										input(id="order1" type='checkbox' name='order1' )
										label(for='order1')
											.acor-header.title-16 Комплект документов 1
											.link-group
												a(href="").icon-edit
												.icon-remove
										.acor-body
											.order-list__item
												.marker-list.marker-list--brown.marker-list--grid
													ul
														li.marker-list__accor
															.accor-container.accor-container--inner
																.acor-container-block
																	input(id="order-item1" type='checkbox' name='order-item1' )
																	label(for='order-item1')
																		.acor-header.title-14 Стандартная экспертиза
																		.title-14 12 500 руб
																	.acor-body
																		ul
																			li ЕГРН с ЭЦП Росреестра
																			li Материнский капитал
																			li Претензии по объекту МО
																			li Оперативная справка
																			li ЕГРН с ЭЦП Росреестра
																			li Материнский капитал
														li
															.title-14  Проверка иностранной доверенности
															.title-14  2 390₽
														li 
															.title-14  Проверка иностранной доверенности
															.title-14  2 390₽
													
											.order-list__item
												.verification-card
													.verification-card__block
														.verification-card__block-title
															.text-12 Объект проверки
															.icon-edit
														.verification-card__block-body
															+icon-group('house', 'House', 'Улица Юности дом 8')
														.verification-card__block-btn
															+menuItem('Указать продавца', '#', 'button-tr button-tr--info','plus', 'Plus')
													.verification-card__block
														.verification-card__block-title
															.text-12 Владельцы
															.icon-edit
														.verification-card__block-btn
															+menuItem('указать владельца', '#', 'button-tr button-tr--info','plus', 'Plus')
														.verification-card__block-body
															+icon-group('seller', 'Seller', 'Иванов Иван Иванович')
															+icon-group('seller', 'Seller', 'Иванов Иван Иванович')
															+icon-group('seller', 'Seller', 'Иванов Иван Иванович')
											.order-list__item
												.verification-card
													.verification-card__block
														.verification-card__block-title
															.text-12 Объект проверки
															.icon-edit
														.verification-card__block-body
															+icon-group('house', 'House', 'Улица Юности дом 8')
														
													.verification-card__block
														.verification-card__block-title
															.text-12 Владельцы
															.icon-edit
														
														.verification-card__block-body
															+icon-group('seller', 'Seller', 'Иванов Иван Иванович')
															+icon-group('seller', 'Seller', 'Иванов Иван Иванович')
															+icon-group('seller', 'Seller', 'Иванов Иван Иванович')
								.order-card__total
									.title-16 Всего на сумму: 23 000 ₽
