include ../../layouts/_mixins-links.pug
block variables

<!DOCTYPE html>
html(lang="ru")
	head
		meta(charset="UTF-8")
		meta(name="viewport", content="width=device-width, initial-scale=1.0")
		meta(http-equiv="X-UA-Compatible", content="ie=edge")

		//====убрать синий цвет у ссылок в сафари ========
		meta(name="format-detection" content="telephone=no")
		link(rel="stylesheet", href="../css/main.css")
		title UI-KIT

	body.body-dashboard

		include ../../ui/ui-navigation.pug

		block content
			.container-dashboard
				h2 Цветовая схема

				.container-dashboard__content
					ul.color-scheme
						li
							span.color-box(style="background-color:#121212;")
							span.color-name $base - #121212
						li
							span.color-box(style="background-color:#333333;")
							span.color-name $dark - #333333
						li
							span.color-box(style="background-color:#263238;")
							span.color-name $main - #263238
						li
							span.color-box(style="background-color:#7C7C7C;")
							span.color-name $grey - #7C7C7C
						li
							span.color-box(style="background-color:#B5B5B5;")
							span.color-name $lightGrey - #B5B5B5
						li
							span.color-box(style="background-color:#f3f3f3;")
							span.color-name $lightGrey - #f3f3f3
						li
							span.color-box(style="background-color:#80BC55;")
							span.color-name $green - #80BC55
						li
							span.color-box(style="background-color:#76A5C3;")
							span.color-name $blueBg - #76A5C3
						li
							span.color-box(style="background-color: #5182A4;")
							span.color-name $lightBlue - #5182A4
						li
							span.color-box(style="background-color: rgba(30, 65, 89, 1);")
							span.color-name $darkBlue: rgb(30, 65, 89)
						li
							span.color-box(style="background-color: rgba(227, 159, 128, 1);")
							span.color-name $orange: rgba(227, 159, 128, 1)
						li
							span.color-box(style="background-color:#EAB720")
							span.color-name $yellow - #EAB720;
						li
							span.color-box(style="background-color:#864023")
							span.color-name $brown - #864023;




