include ../../layouts/_mixins-links.pug
block variables

<!DOCTYPE html>
html(lang="ru")
	head
		meta(charset="UTF-8")
		meta(name="viewport", content="width=device-width, initial-scale=1.0")
		meta(http-equiv="X-UA-Compatible", content="ie=edge")

		//====убрать синий цвет у ссылок в сафари ========
		meta(name="format-detection" content="telephone=no")
		link(rel="stylesheet", href="../css/main.css")
		title UI-KIT

	body.body-dashboard

		include ../../ui/ui-navigation.pug

		block content
			.container-dashboard
				h2 Компоненты меню

				.container-dashboard__content
					ul.ui-components
						li
							+icon-group('cart', 'Cart', 'В корзину')
							pre.
								+icon-group('cart', 'Cart', 'В корзину')
						li
							+menuItem('Каталог услуг', '#', '','cat', 'Cat')
							pre.
								+menuItem('Каталог услуг', '#', '','cat', 'Cat')
						
						
						li
							+price-block('120 456', '220 456')
							pre.
								+price-block('120 456', '220 456')
						li
							.add-information
								.button-group-1
									.button-group__top
										.text-12 Объект проверки
									+menuItem('Указать объект', '#', 'button-tr button-tr--info','plus', 'Plus')
								.button-group-1
									.button-group__top
										.text-12 Владельцы
									+menuItem('Указать владельца', '#', 'button-tr button-tr--info','plus', 'Plus')
							pre.
								.add-information
									.button-group-1
										.button-group__top
											.text-12 Объект проверки
										+menuItem('Указать продавца', '#', 'button-tr button-tr--info','plus', 'Plus')
									.button-group-1
										.button-group__top
											.text-12 Объект проверки
										+menuItem('Указать продавца', '#', 'button-tr button-tr--info','plus', 'Plus')
