include ../../layouts/_mixins-links.pug
block variables

<!DOCTYPE html>
html(lang="ru")
	head
		meta(charset="UTF-8")
		meta(name="viewport", content="width=device-width, initial-scale=1.0")
		meta(http-equiv="X-UA-Compatible", content="ie=edge")

		//====убрать синий цвет у ссылок в сафари ========
		meta(name="format-detection" content="telephone=no")
		link(rel="stylesheet", href="../css/main.css")
		title UI-KIT

	body.body-dashboard

		include ../../ui/ui-navigation.pug

		block content
			.container-dashboard
				h2 Компоненты меню

				.container-dashboard__content
					ul.ui-components
						
						li
							.badge 873 м
							.badge.badge--color квартира
							.badge.badge--white всего прав 5
							pre.
								.badge 873 м
								.badge.badge--color квартира
								.badge.badge--white всего прав 5
						li
							.badge-group
								.badge 873 м
								.badge.badge--color 873 м
							pre.
								.badge-group
									.badge 873 м
									.badge.badge--color 873 м
						li
							+icon-group('cart', 'Cart', 'В корзину')
							pre.
								+icon-group('cart', 'Cart', 'В корзину')
						li
							+menuItem('Каталог услуг', '#', '','cat', 'Cat')
							pre.
								+menuItem('Каталог услуг', '#', '','cat', 'Cat')
						
						
						li
							+price-block('120 456', '220 456')
							pre.
								+price-block('120 456', '220 456')
						li
							.add-information
								.button-group-1
									.button-group__top
										.text-12 Объект проверки
									+menuItem('Указать объект', '#', 'button-tr button-tr--info','plus', 'Plus')
								.button-group-1
									.button-group__top
										.text-12 Владельцы
									+menuItem('Указать владельца', '#', 'button-tr button-tr--info','plus', 'Plus')
							pre.
								.add-information
									.button-group-1
										.button-group__top
											.text-12 Объект проверки
										+menuItem('Указать продавца', '#', 'button-tr button-tr--info','plus', 'Plus')
									.button-group-1
										.button-group__top
											.text-12 Объект проверки
										+menuItem('Указать продавца', '#', 'button-tr button-tr--info','plus', 'Plus')
						li
							.form-order-card
								.form-order-card__title
									a(href="#")
										svg.svg-back2
											use(xlink:href="../img/svg-sprite.svg#svgBack2")
									p Выберите состав проверки
								
								
								.form-order-card__footer
									.product-cart-btn.button--disable
										.product-cart-btn__left
											.text-12 Выберите состав проверки
											svg.svg-plus
													use(xlink:href="../img/svg-sprite.svg#svgPlus")
										.product-cart-btn__right
											svg.svg-cart
												use(xlink:href="../img/svg-sprite.svg#svgCart")
											.text-12 Мой заказ
									
							pre.
								.form-order-card
									.form-order-card__title
										a(href="#")
											svg.svg-back2
												use(xlink:href="../img/svg-sprite.svg#svgBack2")
										p Выберите состав проверки
									
									
									.form-order-card__footer
										.product-cart-btn.button--disable
											.product-cart-btn__left
												.text-12 Выберите состав проверки
												svg.svg-plus
														use(xlink:href="../img/svg-sprite.svg#svgPlus")
											.product-cart-btn__right
												svg.svg-cart
													use(xlink:href="../img/svg-sprite.svg#svgCart")
												.text-12 Мой заказ
						li
							.form-order-card
								.form-order-card__title
									
									p Выберите комплект документов
								.form-order-card__body
									p Выберите документы чтобы сделать заказ
								
								.form-order-card__footer
									+button-flex('a', '#', 'button--disable', 'В корзину',  'cart', 'Cart')
							pre.
								.form-order-card
									.form-order-card__title
										
										p Выберите комплект документов
									.form-order-card__body
										p Выберите документы чтобы сделать заказ
									
									.form-order-card__footer
										+button-flex('a', '#', 'button--disable', 'В корзину',  'cart', 'Cart')
