include ../../layouts/_mixins-links.pug
block variables

<!DOCTYPE html>
html(lang="ru")
	head
		meta(charset="UTF-8")
		meta(name="viewport", content="width=device-width, initial-scale=1.0")
		meta(http-equiv="X-UA-Compatible", content="ie=edge")

		//====убрать синий цвет у ссылок в сафари ========
		meta(name="format-detection" content="telephone=no")
		link(rel="stylesheet", href="../css/main.css")
		title UI-KIT

	body.body-dashboard

		include ../../ui/ui-navigation.pug

		block content
			.container-dashboard
				h2 Компоненты меню

				.container-dashboard__content
					ul.ui-components
						li
							a(href="#!").pay-card
								.pay-card__img
									img(src="../img/visa.png", width="77" alt="img")
								.pay-card__text Оплата картой
							pre.
								a(href="#!").pay-card
									.pay-card__img
										img(src="../img/visa.png", width="77" alt="img")
									.pay-card__text Оплата картой
						li
							.pay-card__wrapper
								a(href="#!").pay-card
									.pay-card__img
										img(src="../img/visa.png", width="77" alt="img")
									.pay-card__text Оплата картой
								a(href="#!").pay-card
									.pay-card__img
										svg.svg-envelop
											use(xlink:href="../img/svg-sprite.svg#svgEnvelop")
									.pay-card__text Получить счет
								a(href="#!").pay-card
									.pay-card__img
										img(src="../img/GooglePay.png", width="105" alt="img")
									.pay-card__text Google Pay
								a(href="#!").pay-card
									.pay-card__img
										img(src="../img/ApplePay.png", width="105" alt="img")
									.pay-card__text Apple Pay
						
						li(style="padding-top:40px;")
							.badge 873 м
							.badge.badge--color квартира
							.badge.badge--white всего прав 5
							pre.
								.badge 873 м
								.badge.badge--color квартира
								.badge.badge--white всего прав 5
						li(style="padding-top:40px;")
							.badge-group
								.badge 873 м
								.badge.badge--color 873 м
							pre.
								.badge-group
									.badge 873 м
									.badge.badge--color 873 м
						li(style="padding-top:40px;")
							+icon-group('cart', 'Cart', 'В корзину')
							pre.
								+icon-group('cart', 'Cart', 'В корзину')
						li(style="padding-top:40px;")
							+menuItem('Каталог услуг', '#', '','cat', 'Cat')
							pre.
								+menuItem('Каталог услуг', '#', '','cat', 'Cat')
						
						
						li(style="padding-top:40px;")
							+price-block('120 456', '220 456')
							pre.
								+price-block('120 456', '220 456')
						li(style="padding-top:40px;")
							.add-information
								.button-group-1
									.button-group__top
										.text-12 Объект проверки
									+menuItem('Указать объект', '#', 'button-tr button-tr--info','plus', 'Plus')
								.button-group-1
									.button-group__top
										.text-12 Владельцы
									+menuItem('Указать владельца', '#', 'button-tr button-tr--info','plus', 'Plus')
							pre.
								.add-information
									.button-group-1
										.button-group__top
											.text-12 Объект проверки
										+menuItem('Указать продавца', '#', 'button-tr button-tr--info','plus', 'Plus')
									.button-group-1
										.button-group__top
											.text-12 Объект проверки
										+menuItem('Указать продавца', '#', 'button-tr button-tr--info','plus', 'Plus')
						li(style="padding-top:40px;")
							.form-order-card
								.form-order-card__title
									a(href="#")
										svg.svg-back2
											use(xlink:href="../img/svg-sprite.svg#svgBack2")
									p Выберите состав проверки
								
								
								.form-order-card__footer
									.product-cart-btn.button--disable
										.product-cart-btn__left
											.text-12 Выберите состав проверки
											svg.svg-plus
													use(xlink:href="../img/svg-sprite.svg#svgPlus")
										.product-cart-btn__right
											svg.svg-cart
												use(xlink:href="../img/svg-sprite.svg#svgCart")
											.text-12 Мой заказ
									
							pre.
								.form-order-card
									.form-order-card__title
										a(href="#")
											svg.svg-back2
												use(xlink:href="../img/svg-sprite.svg#svgBack2")
										p Выберите состав проверки
									
									
									.form-order-card__footer
										.product-cart-btn.button--disable
											.product-cart-btn__left
												.text-12 Выберите состав проверки
												svg.svg-plus
														use(xlink:href="../img/svg-sprite.svg#svgPlus")
											.product-cart-btn__right
												svg.svg-cart
													use(xlink:href="../img/svg-sprite.svg#svgCart")
												.text-12 Мой заказ
						li(style="padding-top:40px;")
							.form-order-card
								.form-order-card__title
									
									p Выберите комплект документов
								.form-order-card__body
									p Выберите документы чтобы сделать заказ
								
								.form-order-card__footer
									+button-flex('a', '#', 'button--disable', 'В корзину',  'cart', 'Cart')
							pre.
								.form-order-card
									.form-order-card__title
										
										p Выберите комплект документов
									.form-order-card__body
										p Выберите документы чтобы сделать заказ
									
									.form-order-card__footer
										+button-flex('a', '#', 'button--disable', 'В корзину',  'cart', 'Cart')
						
						li(style="padding-top:40px;")
							+text-card('ФИНАНСОВАЯ ГАРАНТИЯ СДЕЛКИ', 'Мы дадим финансовую гарантию безопасности сделки на всю сумму договора покупки')
							pre.
								+text-card('ФИНАНСОВАЯ ГАРАНТИЯ СДЕЛКИ', 'Мы дадим финансовую гарантию безопасности сделки на всю сумму договора покупки')
						li
							.block(style="margin-top:20px;")
								+persone-label("Петров А.И.")
								pre.
									+persone-label("Петров А.И.")
							.block(style="margin-top:20px;")
								+persone-label("Петров А.И.", 'yellow')
								pre.
									+persone-label("Петров А.И.", 'yellow')
							.block(style="margin-top:20px;")
								+persone-label("Петров А.И.", 'red')
								pre.
									+persone-label("Петров А.И.", 'red')
										
							.block(style="margin-top:20px;")
								+persone-label("Петров А.И.", 'green')
								pre.
									+persone-label("Петров А.И.", 'green')
						li
							.block(style="margin-top:20px;")
								h3 лейбл таблицы
								+table-flag("Сегодня")
								pre.
									+table-flag("Сегодня")
							.block(style="margin-top:20px;")
								+table-flag("1909", 'dark', 'Убили дядю')
								pre.
									+table-flag("1909", 'dark', 'Убили дядю')
						li
							h3 Лейбл легенды
							.block(style="margin-top:20px;")
								+legend-item('Годы жизни')
								pre.
									+legend-item('Годы жизни')
								
								+legend-item('Годы жизни', 'disable')
								pre.
									+legend-item('Годы жизни', 'disable')
								
								+legend-item('Годы жизни', 'red')
								pre.
									+legend-item('Годы жизни', 'red')
								
								+legend-item('Годы жизни', 'blue')
								pre.
									+legend-item('Годы жизни', 'blue')