include ../../layouts/_mixins-links.pug
block variables

<!DOCTYPE html>
html(lang="ru")
	head
		meta(charset="UTF-8")
		meta(name="viewport", content="width=device-width, initial-scale=1.0")
		meta(http-equiv="X-UA-Compatible", content="ie=edge")

		//====убрать синий цвет у ссылок в сафари ========
		meta(name="format-detection" content="telephone=no")
		link(rel="stylesheet", href="../css/main.css")
		title UI-KIT

	body.body-dashboard

		include ../../ui/ui-navigation.pug

		block content
			.container-dashboard
				h2 Форма

				.container-dashboard__content
					.block(style="margin-top:20px;")
						form(action="" method="method")
							.search-field
								.search-field__decor
									img(src="../img/decor.png", width="18" alt="alt")
								.form-item
									input(type="text" placeholder="Проверим объект?")
								button.search-field__btn(type="submit")
									svg.svg-search
										use(xlink:href="../img/svg-sprite.svg#svgSearch")

						pre.
							form(action="" method="method")
								.search-field
									.search-field__decor
										img(src="../img/decor.png", width="18" alt="alt")
									.form-item
										input(type="text" placeholder="Проверим объект?")
									button.search-field__btn(type="submit")
										svg.svg-search
											use(xlink:href="../img/svg-sprite.svg#svgSearch")
					
					.block(style="margin-top:20px;")
						form(action="" method="method")
							.search-field
								.search-field__decor
									img(src="../img/decor.png", width="18" alt="alt")
								.form-item
									input(type="text" placeholder="Проверим объект?")
									
								button.search-field__btn
									svg.svg-close
										use(xlink:href="../img/svg-sprite.svg#svgClose")

						pre.
							form(action="" method="method")
								.search-field
									.search-field__decor
										img(src="../img/decor.png", width="18" alt="alt")
									.form-item
										input(type="text" placeholder="Проверим объект?")
										
									button.search-field__btn
										svg.svg-close
											use(xlink:href="../img/svg-sprite.svg#svgClose")


					.block(style="margin-top:50px;")
						.form-item
							span.fake-placeholder ФИО
							input(type="text" )

						pre.
							.form-item
								span.fake-placeholder ФИО
								input(type="text" )
					
					.block(style="margin-top:50px;")
						.form-item
							span.fake-placeholder Дата рождения
							input(type="date" name="")
						pre.
							.form-item
								span.fake-placeholder Дата рождения
								input(type="date" )