include ../../layouts/_mixins-links.pug
block variables

<!DOCTYPE html>
html(lang="ru")
	head
		meta(charset="UTF-8")
		meta(name="viewport", content="width=device-width, initial-scale=1.0")
		meta(http-equiv="X-UA-Compatible", content="ie=edge")

		//====убрать синий цвет у ссылок в сафари ========
		meta(name="format-detection" content="telephone=no")
		link(rel="stylesheet", href="../css/main.css")
		title UI-KIT

	body.body-dashboard

		include ../../ui/ui-navigation.pug

		block content
			.container-dashboard
				h2 Иконки

				.container-dashboard__content
					ul.ui-icons
						
						li
							.icon-alert
							pre.
								.icon-alert
						li(style="padding-top:10px; padding-bottom:10px; background: grey;")
							svg.svg-decision
								use(xlink:href="../img/svg-sprite.svg#svgDecision")
							pre(style="color: #fff;").
								svg.svg-decision
									use(xlink:href="../img/svg-sprite.svg#svgDecision")
						li
							svg.svg-back2
								use(xlink:href="../img/svg-sprite.svg#svgBack2")
							pre.
								svg.svg-back2
									use(xlink:href="../img/svg-sprite.svg#svgBack2")
						
						li
							.icon-back
								svg.svg-back
									use(xlink:href="../img/svg-sprite.svg#svgBack")
							pre.
								.icon-back
									svg.svg-back
										use(xlink:href="./img/svg-sprite.svg#svgBack")
						li
							.btn-close
								svg.svg-close
									use(xlink:href="../img/svg-sprite.svg#svgClose")
							pre.
								.btn-close
									svg.svg-back
										use(xlink:href="./img/svg-sprite.svg#svgBack")

						li
							svg.svg-cat
								use(xlink:href="../img/svg-sprite.svg#svgCat")
							pre.
								svg.svg-cat
									use(xlink:href="../img/svg-sprite.svg#svgCat")
						li
							svg.svg-hist
								use(xlink:href="../img/svg-sprite.svg#svgHist")
							pre.
								svg.svg-hist
									use(xlink:href="./img/svg-sprite.svg#svgHist")
						li
							svg.svg-book
								use(xlink:href="../img/svg-sprite.svg#svgBook")
							pre.
								svg.svg-book
									use(xlink:href="./img/svg-sprite.svg#svgBook")
						li
							svg.svg-faq
								use(xlink:href="../img/svg-sprite.svg#svgFaq")
							pre.
								svg.svg-faq
									use(xlink:href="./img/svg-sprite.svg#svgFaq")
						li
							svg.svg-persone
								use(xlink:href="../img/svg-sprite.svg#svgPersone")
							pre.
								svg.svg-persone
									use(xlink:href="./img/svg-sprite.svg#svgPersone")
						li
							svg.svg-map
								use(xlink:href="../img/svg-sprite.svg#svgMap")
							pre.
								svg.svg-map
									use(xlink:href="./img/svg-sprite.svg#svgMap")
						li
							svg.svg-bell
								use(xlink:href="../img/svg-sprite.svg#svgBell")
							pre.
								svg.svg-bell
									use(xlink:href="../img/svg-sprite.svg#svgBell")
						li
							svg.svg-lock
								use(xlink:href="../img/svg-sprite.svg#svgLock")
							pre.
								svg.svg-lock
									use(xlink:href="./img/svg-sprite.svg#svgLock")
						li
							svg.svg-out
								use(xlink:href="../img/svg-sprite.svg#svgOut")
							pre.
								svg.svg-out
									use(xlink:href="./img/svg-sprite.svg#svgOut")
						li
							svg.svg-plus
								use(xlink:href="../img/svg-sprite.svg#svgPlus")
							pre.
								svg.svg-plus
									use(xlink:href="./img/svg-sprite.svg#svgPlus")
						li
							svg.svg-cart
								use(xlink:href="../img/svg-sprite.svg#svgCart")
							pre.
								svg.svg-cart
									use(xlink:href="./img/svg-sprite.svg#svgCart")
						li
							.address-icon
								svg.svg-house
									use(xlink:href="../img/svg-sprite.svg#svgHouse")
							pre.
								.address-icon
									svg.svg-house
										use(xlink:href="./img/svg-sprite.svg#svgHouse")
						li
							.chevron-right
								svg.svg-chevron
									use(xlink:href="../img/svg-sprite.svg#svgChevron")
							pre.
								.chevron-right
									svg.svg-chevron
										use(xlink:href="./img/svg-sprite.svg#svgChevron")

						li
							span.icon-caret
								i
							pre.
								span.icon-caret
									i
						li
							.success-check
								svg.svg-success
									use(xlink:href="../img/svg-sprite.svg#svgSuccess")
							pre.
								.success-check
									svg.svg-success
										use(xlink:href="./img/svg-sprite.svg#svgSuccess")
						li
							.category-card
								.category-card__icon
									span.icon-check
							pre.
								.category-card
									.category-card__icon
										span.icon-check
						li
							.search-toggle
								svg.svg-search
									use(xlink:href="../img/svg-sprite.svg#svgSearch")
							pre.
								.search-toggle
									svg.svg-search
										use(xlink:href="./img/svg-sprite.svg#svgSearch")
						
						li
							.icon-home
							pre.
								.icon-home
						li
							svg.svg-info
								use(xlink:href="../img/svg-sprite.svg#svgInfo")
							pre.
								svg.svg-info
									use(xlink:href="./img/svg-sprite.svg#svgInfo")

						li
							.icon-edit
							pre.
								.icon-edit
						li
							svg.svg-edit
								use(xlink:href="../img/svg-sprite.svg#svgEdit")
							pre.
								svg.svg-edit
									use(xlink:href="./img/svg-sprite.svg#svgEdit")
						li
							svg.svg-warning
								use(xlink:href="../img/svg-sprite.svg#svgWarning")
							pre.
								svg.svg-warning
									use(xlink:href="./img/svg-sprite.svg#svgWarning")
						
						li
							.icon-seller
							pre.
								.icon-seller
						li
							svg.svg-seller
								use(xlink:href="../img/svg-sprite.svg#svgSeller")
							pre.
								svg.svg-seller
									use(xlink:href="./img/svg-sprite.svg#svgSeller")
						li
							svg.svg-empty
								use(xlink:href="../img/svg-sprite.svg#svgEmpty")
							pre.
								svg.svg-empty
									use(xlink:href="./img/svg-sprite.svg#svgEmpty")

						li
							svg.svg-done
								use(xlink:href="../img/svg-sprite.svg#svgDone")
							pre.
								svg.svg-done
									use(xlink:href="./img/svg-sprite.svg#svgDone")
