include ../../layouts/_mixins-links.pug
block variables

<!DOCTYPE html>
html(lang="ru")
	head
		meta(charset="UTF-8")
		meta(name="viewport", content="width=device-width, initial-scale=1.0")
		meta(http-equiv="X-UA-Compatible", content="ie=edge")

		//====убрать синий цвет у ссылок в сафари ========
		meta(name="format-detection" content="telephone=no")
		link(rel="stylesheet", href="../css/main.css")
		title UI-KIT

	body.body-dashboard

		include ../../ui/ui-navigation.pug

		block content
			.container-dashboard
				h2 Главное меню

				.container-dashboard__content
					ul
						li
							+menu-person-info('avatar', 'Дмитрий Лукьян', '+7 (123) 456-78-90')
							pre.
								+menu-person-info('avatar', 'Дмитрий Лукьян', '+7 (123) 456-78-90')
						li
							+menu-block([{svgClass: 'svg-cat', spritId: 'Cat', text: 'Каталог услуг'}, {svgClass: 'svg-hist', spritId: 'Hist', text: 'История заказов'}])
							pre.
								+menu-block([{svgClass: 'svg-cat', spritId: 'Cat', text: 'Каталог услуг'}, {svgClass: 'svg-hist', spritId: 'Hist', text: 'История заказов'}])
						li
							+menu-block([{svgClass: 'svg-faq', spritId: 'Faq', text: 'О сервисе'}, {svgClass: 'svg-persone', spritId: 'Persone', text: 'Партнёрам'}, {svgClass: 'svg-book', spritId: 'Book', text: 'Частые вопросы'}, {svgClass: 'svg-map', spritId: 'Map', text: 'Контакты'}], 'Информация')
							pre.
								+menu-block([{svgClass: 'svg-faq', spritId: 'Faq', text: 'О сервисе'}, {svgClass: 'svg-persone', spritId: 'Persone', text: 'Партнёрам'}, {svgClass: 'svg-book', spritId: 'Book', text: 'Частые вопросы'}, {svgClass: 'svg-map', spritId: 'Map', text: 'Контакты'}], 'Информация')

					
					include ../../sections/_main-menu.pug
					pre.
						ДОБАВИТЬ МЕНЮ ЧЕРЕЗ INCLUDE 
						include ../../sections/_main-menu.pug
		
		script(src="../js/main.js")