include ../../layouts/_mixins-links.pug
block variables

<!DOCTYPE html>
html(lang="ru")
	head
		meta(charset="UTF-8")
		meta(name="viewport", content="width=device-width, initial-scale=1.0")
		meta(http-equiv="X-UA-Compatible", content="ie=edge")

		//====убрать синий цвет у ссылок в сафари ========
		meta(name="format-detection" content="telephone=no")
		link(rel="stylesheet", href="../css/main.css")
		title UI-KIT

	body.body-dashboard

		include ../../ui/ui-navigation.pug

		block content
			.container-dashboard
				h2 Карточка Продавца
				+seller-card('Иванов Иван Иванович', 'ИНН: ХХХХХХХХХХХ', 'Год рождения: 12.11.1987')
				pre.
					+seller-card('Иванов Иван Иванович', 'ИНН: ХХХХХХХХХХХ', 'Год рождения: 12.11.1987')
		
		script(src="../libs/jquery/jquery-3.0.0.min.js")
		script(src="https://unpkg.com/swiper/swiper-bundle.min.js")
		script(src="../js/main.js")
